/*
 * global
 */

body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #d6d6d6;
}


a {
	color: #6865a6;
        text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


img {
    border:0;
}

h1 {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 10px;
    color: #000000;
}

h2 {
    font-size: 16px;
    margin: 0px;
}

table {
	border-spacing: 3px 2px;
}


input {
	border: 1px outset black;
        padding:0px;
        font-size: inherit;
        font-family: inherit;
}

select {
        font-size: inherit;
        font-family: inherit;
}

form {
	display: inline;
}

thead {
        font-weight: bold;
        background-color: #E2EBF5;
}

.fixed {
        font-family: Courier;
        font-weight: bold;
}

/*
 * banner
 */

#top_view_header_picture {
	float: left;  
	display: inline;  
	width: 30px;  
	border: 1px solid black;  
	vertical-align: middle;  
}

#top_view_header {
        z-index: 1;
        position: fixed;
        top: 0px;
	left: 0px;
	right: 0px;
        height: 56px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background: #4D535C;
        border-top: 4px;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        border-style: solid;
        border-color: #D2312A;
}

#top_view_header_software, #top_view_header_title, #top_view_header_place {
        float: left;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        display: inline;
	vertical-align: middle;
}

#top_view_header_title {
        text-align: left;
        float: right;
}

#top_view_header_place {
        padding-left: 10px;
        font-weight: normal;
        color: #CCCCCC;
}


/*
 * top menu
 */
#topmenu {
        z-index: 1;
        position: fixed;
        top: 58px;
        left: 160px;
        right: 0px;
        background: #999999;
        height: 21px;
        border: 1px white solid;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
}

.topmenu_item_active a:visited, .topmenu_item_active a:link,
.topmenu_item_special a:visited, .topmenu_item_special a:link {
        color: black;
        text-decoration: none;
}

.topmenu_item_inactive a:visited, .topmenu_item_inactive a:link {
        color: white;
        text-decoration: none;
}

.topmenu_item_inactive a:hover, .topmenu_item_special a:hover {
        color: #999999;
        text-decoration: none;
}

.topmenu_item_info {
        padding: 0 10px 0 0;
        height: 21px;
        min-width: 45px;
        float: right;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	vertical-align: middle;
	color: white;
}


.topmenu_item_inactive {
        padding: 0 10px 0 10px;
        height: 21px;
        min-width: 45px;
        float: left;
        border-right: 1px white solid;
        background: #4D535C;
}

.topmenu_item_active {
        padding: 0 10px 0 10px;
        height: 22px;
        min-width: 45px;
        float: left;
        border-right: 1px white solid;
	background-color: #d6d6d6;
        text-decoration: none;
}

.topmenu_item_special {
        padding: 0 10px 0 10px;
        float: right;
        min-width: 45px;
        height: 21px;
        border-left: 1px solid white;
        background-color: #b5cba0;
}


/*
 * menu
 */
#menu {
	width: 160px;
	margin-top: 80px;
	top: 0px;
	bottom: 0px;
	z-index: 1;
	position: fixed;
	border-width: 0 0px 0 0;
	border-width: 0 1px 0 0; 
	border-color: white; 
	border-style: solid;
	background: #acacac;
}

#menu p:hover a {
	color: black;
	text-decoration: none;
}

#menu p:hover {
/*	background: #E2EBF5; */
	background: #d6d6d6;
	text-decoration: none;
}

.menu_item_active, .menu_item_inactive, .menu_item_special {
	margin-top: 0;
	margin-bottom: 0;
	border-width: 1px 0 0 0;
	border-color: #acacac;
	border-style: solid;
	text-align: center;
	font-weight: bold;
	height: 22px;
	font-size: 13px;
}

.menu_item_inactive {
	background: #999999;
	text-decoration: none;
}

.menu_item_inactive a:link, .menu_item_inactive a:visited {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.menu_item_active {
	background-color: #d6d6d6;
	/* background-color: #E2EBF5; */
}

/* menu timeline control */
#timeline {
        background: #999999; 
        font-size: 10px;
        width: 160px;
        color: white;
	position: fixed;
	bottom: 43px;
	height: 163px;
}

.timeline_control_prev, .timeline_control_cur, .timeline_control_next {
        background: #E2EBF5;
        width: 53px;
        height: 20px;
        padding: 0px;
        border: 1px black solid;
	text-align: center;
}

.timeline_control_cur {
        width: 54px;
}

.timeline_control_prev a:link, .timeline_control_prev a:visited, .timeline_control_prev a:hover,
.timeline_control_cur a:link, .timeline_control_cur a:visited, .timeline_control_cur a:hover,
.timeline_control_next a:link, .timeline_control_next a:visited, .timeline_control_next a:hover {
        color:black;
}

#filter_control_label, #timezone_control_label, #timeline_limit_label, #timeline_submit, #timeline_step_label, .navigation_label {
        font-weight: bold;
}


.filter_control_select, .timezone_control_select {
	width: 107px;
	max-width: 107px;
}

.timeline_range {
        font-size: 9px;
        text-align: center;
}


/* menu message nav */
#message_list_nav {
	position: fixed;
	bottom: 0px;
        left: 0px;
	height: 43px;
        width: 160px;
}

#message_list_nav a:visited, #message_list_nav a:link, #message_list_nav a:hover {
        color: black;
        text-decoration: none;
}

#message_list_nav td {
        width: 50px;
        height: 15px;
        text-align: center;
        font-size: 10px;
        /*font-weight: bold;*/
}

.message_list_nav_button, .message_list_nav_infos {
        background: #E2EBF5;
        border-width: 1px;
        border-style: solid;
}

.message_list_nav_button_empty {
	background: #d6d6d6;
}

/*
 * main screen
 */
#main {
        padding: 10px;
	font-size: 100%;
        position: absolute;
        left: 160px;
        top: 80px;
/*	right: 0px; 
	bottom: 0px;*/
}

/*
#main a {
        color: #333333;
 	color: #635f68;
        text-decoration: none;
}


#main a:hover {
	color: black;
        text-decoration: underline;
}
*/


/*
 * random class
 */
.login_password {
	position: relative;
	margin: 0px auto;
	margin-top: 150px;
	width: 300px;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
}

.login_password table {
	width: 100%;
}

.authentication_error {
	color: red;
	font-weight: bold;
	text-align: right;
}

.properties_change_table td {
	text-align: center;
}

.user_list_table td {
	text-align: center;
}

.table_row_even {
	background-color: #ffffff;
}

.table_row_odd {
	background-color: #eeeeee;
}


.static_content_column {
	background-color: #eeeeee;
}

.impact_severity_high, .impact_completion_succeeded {
	text-decoration: none;
	font-weight: bold;
	color: #d02a2a;
}

.impact_severity_medium {
	text-decoration: none;
	color: #ff8e33;
}

.impact_severity_low, .impact_completion_failed {
	text-decoration: none;
	color: #418c3d;
}

.impact_severity_info {
        text-decoration: none;
        color: blue;
}


.alert_field_value {
	text-decoration: none;
	color: inherit;
}

.alert_field_value:hover {
	text-decoration: underline;
}

#message_list_result {
	width: 100%;
}

#message_list_edition {
	border: 1px;
	border-style: solid;
	border-color: #4D535C;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
 	height: 65px;
}

.section_alert {
	margin-bottom: 20px;
}

.section_alert_title {
	float: left;
}

.section_alert_title {
	width: 15%;
}

.section_alert_entries {
	width: 80%;
}

.section_alert_title {
	text-align: right;
	font-size: 130%;
	font-style: italic;
	font-weight: bold;
	/*padding-top: 5px;*/
	padding-right: 10px;
}

.section_alert_entry_name {
	width: 25%;
}

.section_alert_entry_value_emphasis {
	font-weight: bold;
}

.message_details {
	padding-left: 0px;
}

.message_details_title {
	background-color: #E2EBF5;
	font-weight: bold;
	/*border: 0px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;*/
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
}

.message_details_title a {
	text-decoration: none;
	color: #333333;
}

.message_details_content {
	padding-left: 40px;
}

.message_details_entries {
	padding-top: 1px;
}

.message_details_entry {
	padding-bottom: 2px;
}

.message_details_entry_name {
	float: left;
	width: 15%;
	margin-right: 5px;
	background-color: #E2EBF5;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
}

.message_details_entry_value {
	padding-left: 10px;
	/*border: 0px;
	border-bottom: 1px;
	border-style: solid;*/
	background-color: white;
}

.hearbeat_analyze {
	font-size: 120%;
	width: 100%;
}

.heartbeat_analyzer_event_start, .heartbeat_analyzer_event_normal_stop, .heartbeat_analyzer_event_no_anomaly {
	color: green;
}

.heartbeat_analyzer_event_unexpected_restart, .heartbeat_analyzer_event_abnormal_heartbeat_interval {
	color: orange;
}

.heartbeat_analyzer_event_down {
        color: red;
}

.heartbeat_analyze_sensor_status_normal_offline {
        /* background-color: #b5cba0; */
        background-color: #ffb063;
	text-align: center;
}
 
.heartbeat_analyze_sensor_status_abnormal_offline {
	text-align: center;
	background-color: #e77070;
}

.heartbeat_analyze_sensor_status_unknown {
	background-color: #E4E4E4;
}

.heartbeat_analyze_sensor_status_online {
	text-align: center;
	background-color: #b5cba0;
}

.heartbeat_analyze_sensor_info {
	font-weight: bold;
	border-top: 10px;
}

/*
 * Settings view
 */

.settings_label {
        font-weight: bold;
        display: inline;
}
 
/*
 * Error view
 */

.error_name, .error_message, .error_links {
	position: relative;
	margin: 0px auto;
	margin-top: 50px;
	text-align: center;
	width:90%;
}

.error_name {
	font-size:60px;
	color: red;
	margin-top: 150px;
}

.error_message {
	font-size: 20px;
	color: black;
}

.error_links {
	font-size: 16px;
}


/*
 * popup
 */
#popup_block {
	padding: 0px;
	margin: 0;
}

ul#popup_block ul {
	display: none;
	padding: 0px;
}

ul#popup_block li {
	list-style-type: none;
	position: relative;
}

ul#popup_block li:hover > ul {
	display: block;
	position: absolute;
}

.popup_title {
	display: block;
}

.popup_title span {
	color: #6865a6;
}

.popup_title:hover span {
        text-decoration: none;
}


ul#popup_block li a:link, ul#popup_block li a:visited {
	color: grey;
	list-style-type: circle;
	white-space: nowrap;
}

ul#popup_block li a:hover {
        color: grey;
        list-style-type: circle;
        white-space: nowrap;
}

ul#popup_block > li:hover > ul {
	list-style-type: circle;
	padding-left: 5px;
	padding-right: 20px; 
        border: dotted black;
        border-width: 1px 1px 1px 1px;
	background: #E2EBF5;
	text-align: left;
	z-index: 1;
	white-space: nowrap;
	width: 120px;
}

/*
 * Filter popup
 */

.filter_popup a {
	float: left;
}

.filter_popup span {
	float: right;
	display: inline;
}

.filter_popup div {
	display: none;
	margin-top: 15px;
	padding: 3px;
        border: dotted black;
        border-width: 1px 1px 1px 1px;
	background: #E2EBF5;
	text-align: left;
	white-space: nowrap;
	position: absolute;
	z-index: 1;
}

.filtered_column div {
	float: left;
}

.filtered_column span {
	float: right;
	display: inline;
}


/*
 * Stats
 */

.stats_infos h1, .stats_infos h2 {
	padding-left: 10px;
}

.stats_infos {
	margin-left: 10px;
	border: 0px;
	border-left: 5px;
	border-color: #4D535C;
	border-style: solid;
	background: #eeeeee;
}


/*
 * About
 */ 

#about {
	display: table;
	height: 100%;
	min-height: 100%;
	text-align: justify;
	margin: 0px;
	padding: 0px;
}

#about_contact {
	vertical-align: bottom; 
	border-spacing: 0px; 
	text-align: center; 
	width: 80%; 
	background: #999999; 
	color: white; 
	border: 1px solid #D2312A;
}


/*
 * misc
 */

#fieldset_heading {
	background: #E2EBF5;
	border: 1px outset #996;
	padding: 1em;
	position: relative;
}

#fieldset_heading h1, #fieldset_heading h2 { margin: 0 }  
#fieldset_heading h2 { font-weight: normal; font-size: 150%; margin-bottom: 1em }
#fieldset_heading .date { color: #996; font-size: 130%; float: right; position: relative }  
  	
#fieldset_heading table { border-collapse: collapse; width: 100%; }
#fieldset_heading tr { border-bottom: 1px dashed white; }  
#fieldset_heading .nodash { border-bottom: 0px; }  

#fieldset_heading td, #fieldset_heading th { font-size: 90%; padding: .5em 1em; vertical-align: top }
#fieldset_heading th { color: #950; font-weight: normal; text-align: left; }  
#fieldset_heading hr { color: #dd9; border-color: black; border-width: 1px 0 0; height: 1px; margin: .5em 0 0 }

#fieldset_page { max-width: 700px; }  
#fieldset_page textarea { border: 1px outset black; }  
#fieldset_page input { border: 1px outset black; }  
#fieldset_page fieldset { border: 1px outset black; padding: 1em }  
#fieldset_page legend { font-size: 13px; font-weight: bold; }  

.not_available {
        background-color: #e0e0e0;
};
