/*
 * global
 */
html {
    margin      : 0;
    padding     : 0;
    width       : 100%;
    height      : 100%;
    _overflow: hidden;
    _overflow: auto;
}

body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #d6d6d6;
        position: absolute;
        width: 100%;
        height: 100%;
        _overflow-y: hidden;
        _overflow-x: hidden;
        top: 0;
        left: 0;
        right: 0;

}

a {
        color: #6865a6;
        cursor: pointer;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}


img {
    border:0;
}

h1 {
    font-size: 20px;
    margin: 0px;
    padding-bottom: 10px;
    color: #000000;
}

h2 {
    font-size: 16px;
    margin: 0px;
}

table {
        border-spacing: 3px 2px;
}


textarea, input, select {
       padding: 0px;
       font-size: 10px;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       border: 1px solid black;
       border-top-color: #b5b5b5;
       border-left-color: #b5b5b5;
}

textarea {
        overflow: auto;
}


input[type="checkbox"] {
        border: none;
        vertical-align: sub;
}


form {
        display: inline;
}

thead {
        font-weight: bold;
        background-color: #E2EBF5;
}


fieldset {
       position: relative;
       top: 1em;

       border: 1px solid black;
       border-top-color: #b5b5b5;
       border-left-color: #b5b5b5;

       padding: 0 0.5em 1em 0.5em;
       _margin-bottom: 15px;
}

html>body fieldset {
        padding-top: 1em;
        top: 0;
}


legend {
        position: relative;
        _top: -1em;
        padding: 0.4em;
        color: #333333;
}

p {
        margin: 0;
        padding: 0;
}

.fixed {
        font-family: Courier, monospace;
        font-size: 9px;
}

/*
 * banner
 */

#top_view_header_picture {
        float: left;
        display: inline;
        width: 30px;
        border: 1px solid black;
        vertical-align: middle;
}

#top_view_header {
        z-index: 3;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 56px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background: #4D535C;
        border-top: 4px;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        border-style: solid;
        border-color: #D2312A;
}

#top_view_header_software, #top_view_header_title, #top_view_header_place {
        float: left;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        display: inline;
        vertical-align: middle;
}

#top_view_header_title {
        text-align: left;
        float: right;
}

#top_view_header_place {
        padding-left: 10px;
        font-weight: normal;
        color: #CCCCCC;
}


/*
 * top menu
 */
#topmenu {
        z-index: 3;
        position: fixed;
        _position: absolute;
        top: 58px;
        left: 160px;
        right: 0px;
        background: #999999;
        height: 21px;
        border: 1px white solid;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
}

#topmenu p {
        line-height: 18px;
}


.topmenu_item_active a:visited, .topmenu_item_active a:link,
.topmenu_item_special a:visited, .topmenu_item_special a:link {
        color: #333333;
        text-decoration: none;
}

.topmenu_item_inactive a:visited, .topmenu_item_inactive a:link {
        color: white;
        text-decoration: none;
}

.topmenu_item_inactive a:hover, .topmenu_item_special a:hover {
        color: #999999;
        text-decoration: none;
}

.topmenu_item_info {
        margin: 0;
        padding: 0 10px 0 0;
        height: 21px;
        min-width: 45px;
        float: right;
        font-size: 11px;
        font-style: italic;
        font-weight: normal;
        vertical-align: middle;
        color: white;
}


.topmenu_item_inactive {
        margin: 0;
        padding: 0 10px 0 10px;
        height: 21px;
        min-width: 45px;
        float: left;
        border-right: 1px white solid;
        background: #4D535C;
}

.topmenu_item_active {
        margin: 0;
        padding: 0 10px 0 10px;
        height: 22px;
        _height: 21px;
        min-width: 45px;
        float: left;
        border-right: 1px white solid;
        background-color: #d6d6d6;
        text-decoration: none;
        color: #333333;
}

.topmenu_item_special {
        margin: 0;
        padding: 0 10px 0 10px;
        float: right;
        min-width: 45px;
        height: 21px;
        border-left: 1px solid white;
        background-color: #b5cba0;
}


/*
 * menu
 */

#menu {
        width: 160px;
        margin-top: 80px;
        top: 0px;
        bottom: 0px;
        z-index: 1;
        position: fixed;
        _position: absolute;
        border-width: 0 1px 0 0;
        border-color: white;
        border-style: solid;
        background: #acacac;
        height: 100%;
        _height: expression((document.body.clientHeight - 80) + 'px');
}

#menu a {
/*      color: black; */
        text-decoration: none;
}

#menu a:hover {
        color: #333333;
        background: #d6d6d6;
        text-decoration: none;
}

.menu_item_active, .menu_item_inactive, .menu_item_special {
        margin-top: 0;
        margin-bottom: 0;
        border-width: 1px 0 0 0;
        border-color: #acacac;
        border-style: solid;
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: block;
        height: 22px;
        font-size: 13px;
}

.menu_item_inactive {
        background: #999999;
        text-decoration: none;
        color: white;
}

.menu_item_inactive a:link, .menu_item_inactive a:visited {
        text-decoration: none;
        font-weight: bold;
}

.menu_item_active {
        color: #333333;
        background-color: #d6d6d6;
}

/* menu timeline control */
#timeline {
        background: #999999;
        border: 1px solid black;
        font-size: 10px;
        width: 154px;
        color: white;
        position: fixed;
        _position: absolute;
        left: 3px;
        bottom: 43px;
        height: 163px;
}

#timeline tr {
}

#timeline td {
        padding: 0;
        margin: 0;
}

#timeline th {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 8px;
        font-weight: bold;
}

#timeline select {
        border: 1px solid black;
        vertical-align: middle;
        width: 100%;
}


#timeline input[type=text] {
        padding-bottom: 1px;
        padding-top: 1px;
        margin: 0px;
        vertical-align: middle;
        border: 1px solid black;
}


#timeline img {
        height: 15px;
        border: 1px solid black;
        margin: 0px;
        padding: 0px;
}

#timeline .auto_apply_current {
        float: left;
        border: 1px solid black;
        border-right: 0;
        height: 15px;
        width: 28px;
        text-align: center;
        vertical-align: middle;
}

#timeline .auto_apply_button {
        float: right;
        padding: 0;
        margin: 0;
}

#timeline input[name="auto_apply_value"] {
        float: left;
        border: 1px solid black;
        border-left: 0;
        width: 28px;
        height: 15px;
        text-align: center;
        vertical-align: bottom;
        padding: 0;
        margin: 0;
}

#timeline input[name="timeline_value"] {
        float: left;
}

#timeline select[name="timeline_unit"] {
        float: right;
        width: 62px;
}

#timeline .timeline_range {
        font-size: 9px;
        text-align: center;
        border-spacing: 0;
            padding: 0;
        margin: 0;
}

.timeline_control_prev, .timeline_control_cur, .timeline_control_next {
        background: #E2EBF5;
        width: 53px;
        height: 20px;
        padding: 0px;
        border: 1px black solid;
        text-align: center;
}

.timeline_control_inactive, .timeline_control_cur_inactive {
        background: #d6d6d6;
        width: 53px;
        height: 20px;
        color: black;
        border: 1px solid black;
        padding: 0px;
        text-align: center;
}

.timeline_control_cur_inactive {
        width: 54px;
}

.timeline_control_cur {
        width: 54px;
}

.timeline_control_prev a:link, .timeline_control_prev a:visited, .timeline_control_prev a:hover,
.timeline_control_cur a:link, .timeline_control_cur a:visited, .timeline_control_cur a:hover,
.timeline_control_next a:link, .timeline_control_next a:visited, .timeline_control_next a:hover {
        color:black;
}


.popup_operator_select {
        width: 46px;
        max-width: 46px;
}

.popup_select_field {
        width: 100px;
        max-width: 100px;
}

.popup_input_field {
        width: 150px;
        max-width: 150px;
}


/* menu message nav */
#message_list_nav {
        position: fixed;
        _position: absolute;
        bottom: 0px;
        left: 0px;
        height: 43px;
        width: 160px;
}

#message_list_nav a:visited, #message_list_nav a:link, #message_list_nav a:hover {
        color: black;
        text-decoration: none;
        width: 100%;
        display: block;
}

#message_list_nav td {
        text-align: center;
        font-size: 10px;
        /*font-weight: bold;*/
}

.message_list_nav_infos {
        background: #E2EBF5;
        border: 1px solid black;
}

.message_list_nav_button {
        width: 50px;
        height: 15px;
        background: #E2EBF5;
        border: 1px solid black;
}

.message_list_nav_button_empty {
        width: 50px;
        height: 15px;
        background: #d6d6d6;
        border: 1px solid black;
}

/*
 * main screen
 */
#main {
        font-size: 100%;

        _position: absolute;
        _top: 0px;
        _left: 0px;

        padding-top: 10px;
        margin-top: 80px;
        padding-left: 170px;
        padding-right: 10px;
        _padding-right: 25px;


        _bottom: 0px;
        _overflow-x: hidden;
        _overflow-y: auto;
        _width: expression((document.body.clientWidth  - 195) + 'px');
        _height: expression((document.body.clientHeight - 90) + 'px');
}

/*
#main a {
        color: #333333;
        color: #635f68;
        text-decoration: none;
}


#main a:hover {
        color: black;
        text-decoration: underline;
}
*/


/*
 * random class
 */
.login_password {
        position: relative;
        margin: 0px auto;
        margin-top: 150px;
        width: 300px;
        border-style: solid;
        border-width: 2px;
        padding: 10px;
}

.login_password table {
        width: 100%;
}

.authentication_error {
        color: red;
        font-weight: bold;
        text-align: right;
}

.properties_change_table td {
        text-align: center;
}

.user_list_table td {
        text-align: center;
}

.table_row_even {
        background-color: #ffffff;
}

.table_row_odd {
        background-color: #eeeeee;
}


.static_content_column {
        background-color: #eeeeee;
}

.impact_severity_high, .impact_completion_succeeded {
        text-decoration: none;
        font-weight: bold;
        color: #d02a2a;
}

.impact_severity_medium {
        text-decoration: none;
        color: #ff8e33;
}

.impact_severity_low, .impact_completion_failed {
        text-decoration: none;
        color: #418c3d;
}

.impact_severity_info {
        text-decoration: none;
        color: blue;
}


.alert_field_value {
        text-decoration: none;
        color: inherit;
}

.alert_field_value:hover {
        text-decoration: underline;
}

#message_list_result {
        width: 100%;
}

#message_list_edition {
        border: 1px;
        border-style: solid;
        border-color: #4D535C;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        height: 65px;
}

.section_alert {
        margin-bottom: 20px;
}

.section_alert_title {
        float: left;
}

.section_alert_title {
        width: 15%;
}

.section_alert_entries {
        width: 80%;
}

.section_alert_title {
        text-align: right;
        font-size: 130%;
        font-style: italic;
        font-weight: bold;
        /*padding-top: 5px;*/
        padding-right: 10px;
}

.section_alert_entry_name {
        width: 25%;
}

.section_alert_entry_value_emphasis {
        font-weight: bold;
}

.message_details {
        padding-left: 0px;
}

.message_details_title {
        background-color: #E2EBF5;
        font-weight: bold;
        /*border: 0px;
        border-right: 2px;
        border-bottom: 2px;
        border-style: solid;*/
        border: 0px;
        border-bottom: 1px;
        border-style: solid;
}

.message_details_title a {
        text-decoration: none;
        color: #333333;
}

.message_details_content {
        padding-left: 40px;
}

.message_details_entries {
        padding-top: 1px;
}

.message_details_entry {
        padding-bottom: 2px;
}

.message_details_entry_name {
        float: left;
        width: 15%;
        margin-right: 5px;
        background-color: #E2EBF5;
        border: 0px;
        border-bottom: 1px;
        border-style: solid;
}

.message_details_entry_value {
        padding-left: 10px;
        /*border: 0px;
        border-bottom: 1px;
        border-style: solid;*/
        background-color: white;
}

.hearbeat_analyze {
        font-size: 120%;
        width: 100%;
}

.heartbeat_analyzer_event_start, .heartbeat_analyzer_event_normal_stop, .heartbeat_analyzer_event_no_anomaly {
        color: green;
}

.heartbeat_analyzer_event_unexpected_restart, .heartbeat_analyzer_event_abnormal_heartbeat_interval {
        color: rgb(255,165,0);
}

.heartbeat_analyzer_event_down {
        color: red;
}

.heartbeat_analyze_sensor_status_offline {
        background-color: #e4e4e4;
        text-align: center;
}

.heartbeat_analyze_sensor_status_missing {
        text-align: center;
        background-color: #e77070;
}

.heartbeat_analyze_sensor_status_unknown {
        background-color: #ffb063;
}

.heartbeat_analyze_sensor_status_online {
        text-align: center;
        background-color: #b5cba0;
}

.heartbeat_analyze_sensor_info {
        font-weight: bold;
        border-top: 10px;
}

/*
 * Settings view
 */

.settings_label {
        font-weight: bold;
        display: inline;
}

/*
 * Error view
 */

.error_name, .error_message, .error_links {
        position: relative;
        margin: 0px auto;
        margin-top: 50px;
        text-align: center;
        width:90%;
}

.error_name {
        font-size:60px;
        color: red;
}

.error_message {
        font-size: 20px;
        color: black;
}

.error_links {
        font-size: 16px;
}


/*
 * popup
 */
.popup_menu {
        border: 1px solid red;
        background: #E2EBF5;
        z-index: 1;
        display: none;
        position: absolute;
        padding: 5px;
        margin: 0px;
        _width: 150px;
	text-align: left;
}



/*
 * Filter popup
 */

.filter_popup_link {
        float: left;
}

.filter_popup div {
        display: none;
        margin-top: 15px;
        padding: 3px;
        border: dotted black;
        border-width: 1px 1px 1px 1px;
        background: #E2EBF5;
        text-align: left;
        white-space: nowrap;
        position: absolute;
        z-index: 2;
}

.filtered_column div {
        float: left;
}

.filtered_column span {
        float: right;
        display: inline;
}


/*
 * Stats
 */

.stats_infos h1, .stats_infos h2 {
        padding-left: 10px;
}

.stats_infos {
        margin-left: 10px;
        border: 0px;
        border-left: 5px;
        border-color: #4D535C;
        border-style: solid;
        background: #eeeeee;
}


/*
 * About
 */

#about {
        display: table;
        height: 100%;
        min-height: 100%;
        text-align: justify;
        margin: 0px;
        padding: 0px;
}

#about_contact {
        vertical-align: bottom;
        border-spacing: 0px;
        text-align: center;
        width: 80%;
        background: #999999;
        color: white;
        border: 1px solid #D2312A;
}

#about li p {
       color: black;
       font-weight: normal;
       margin-bottom: 10px;
}


/*
 * misc
 */
.fieldset_heading {
        background: #E2EBF5;
}

.fieldset_heading .description_title { font-size: 13px; font-weight: bold; padding-bottom: 5px; }
.fieldset_heading .description { }

.fieldset_heading h1, .fieldset_heading h2 { margin: 0 }
.fieldset_heading h2 { font-weight: normal; font-size: 150%; margin-bottom: 1em }
.fieldset_heading .date { color: #996; font-size: 130%; float: right; position: relative }


#classification { }
#target { margin-left: -100px; }
#analyzer { margin-left: -222px; }


.inline_filter_content {
        width: 100%;
}


.inline_filter_content td {
        width: 100%;
        text-align: right;
        font-size: 8px;
        padding: 1px 5px 1px;
        margin: 0;
        border-spacing: 0;
        border-bottom: 1px dashed white;
}

.inline_filter_content td input[type="text"] {
                height: 15px;
}

.inline_filter_content th {
        font-size: 9px;
        color: #950;
        font-weight: normal;
        text-align: left;
        border-bottom: 1px dashed white;
}

#classification table, #source table, #target table, #analyzer table {
        border-collapse: collapse;
    vertical-align: top;
    border-spacing: 0;
}

.fieldset_heading table {
        border-collapse: collapse;
        width: 100%;
}

.fieldset_heading tr { border-bottom: 1px dashed white; }
.fieldset_heading .nodash { border-bottom: 0px; }

.fieldset_heading td, .fieldset_heading th { font-size: 9px; padding: .5em 1em; vertical-align: top; border-bottom: 1px dashed white; }
.fieldset_heading th { color: #950; font-weight: normal; text-align: left; }

.fieldset_heading hr { color: #999999; background: #999999; border: 0; height: 1px; }

#fieldset_page {
        max-width: 700px;
        width:expression(document.body.clientWidth > 700 ? "700px": "auto" );
}

#fieldset_page legend { font-size: 13px; font-weight: bold; }

.not_available {
        background-color: #e0e0e0;
}


.filter_enabled_marker {
       font-weight: bold;
       color: red;
       display: inline;
}

span.filter_enabled_marker {
	float: right;
}


.message_summary_no_border, .message_summary_no_border tr, .message_summary_no_border td, .message_summary_no_border th {
        border: 0px;
}

.message_summary, .message_summary tr {
        border: 1px solid black;
}

.message_summary th, .message_summary td {
        padding: 3px;
        border: 1px solid black;
}
