include AUTHORS
include COPYING*
include HACKING.README
include NEWS
include README
include INSTALL
include prewikka.pot
include conf/prewikka.conf
include conf/plugins/*.conf
include conf/menu.yml
include themes/*.less
include scripts/prewikka.wsgi
recursive-include prewikka *
