include AUTHORS
include COPYING*
include HACKING.README
include NEWS
include README
include ez_setup.py
include prewikka.pot
include conf/prewikka.conf
include po/*.po
include themes/*.less
recursive-include prewikka *
