include AUTHORS
include COPYING*
include HACKING.README
include NEWS
include README
include ez_setup.py
include prewikka.pot
include conf/prewikka.conf
include themes/*.less
include scripts/prewikka.wsgi
recursive-include prewikka *
