#extends prewikka.templates.ClassicLayout

#block main_content
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>OS</td>
			<td>Node Name</td>
			<td>Node Location</td>
			<td>Node Address</td>
		</tr>
	</thead>
	<tbody>
		#set $row_classes = ("table_row_even", "table_row_odd")
		#set $cnt = 0
		#for $analyzer in $analyzers
			<tr class='$row_classes[$cnt%2]'>
				<td>$analyzer.name</td>
				<td>$analyzer.model $analyzer.version</td>
				<td>$analyzer.ostype $analyzer.osversion</td>
				<td>$analyzer.node_name</td>
				<td>$analyzer.node_location</td>
				<td>$analyzer.node_address</td>
				<td><a href='$analyzer.configure'>configure</a></td>
			</tr>
			#set $cnt += 1
		#end for
	</tbody>
</table>
#end block main_content
