<script type="text/javascript">
    \$(document).ready(function() {
        \$('div.warning').dialog({
            title: "$_("WARNING")",
            modal: true,
            draggable: false,
            resizable: false,
            width: 550,
            buttons: [{
                'class': 'btn btn-default',
                text: "$_("OK")",
                click: function() {
                    \$(this).dialog("close");
                }
            }]
        });
    });
</script>

<div class="warning" style="display: none">
  <p style="text-align: center; margin-bottom: 30px; margin-top: 30px; font-size: 1.1em">
    <span style="font-weight: bold; color: red">$_("Prelude OSS is the open-source version of the Prelude SIEM")</span>
    <br><br><b><a href="http://www.prelude-siem.com">www.prelude-siem.com</a></b>
    <br><br>
    #set $text = $_("This OSS version has <span style='font-weight: bold'>lower performance</span> and <span style='font-weight: bold'>less <a href='%s'>features</a></span> than the Pro/Enterprise versions.") % "http://www.prelude-siem.com/index.php/en/products/oss-pro-enterprise"
    $text
    <br>$_("It is intended for tests and small environments, and should not be used in critical environments.")

    <br>
    #set $text = $_("Prelude OSS is distributed under the %s.") % "<a href='http://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html'>GNU GPLv2</a>"
    <br>$text
    <br>$_("Products derivated from Prelude OSS modules are therefore subject to the terms of the GPLv2.")
  </p>
</div>
