#about {
    display: table;
    height: 100%;
    min-height: 100%;
    text-align: justify;
    margin: 0px;
    padding: 1em;
}

#about_intro {
    color: grey;
    font-style: italic;
}

#about_contact {
    margin: 1em;
    margin-top: 50px;
    vertical-align: bottom;
    text-align: center;
    width: 98%;
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 1em;
}

#about_contact div {
    display: inline-block;
    margin: 0 25px 0 25px;
    vertical-align: top;
}

#copyright {
    color: grey;
    font-size: 8pt;
    font-weight: normal;
    margin-top: 1em;
    text-align: center;
}
