#filter CleanOutput
<label for="menu_filter_select" class="label-xs">$_("Filter:")</label>
<select id="menu_filter_select" name="filter" class="form-control input-sm" data-toggle="tooltip" title="$_("Available filters")" data-trigger="hover" data-container="body">
    <option value="">$_("No filter")</option>
    #for $fltr in $filters
        #if $fltr == $current_filter
            #set $selected = "selected=\"selected\""
        #else
            #set $selected = ""
        #end if
    <option value="$fltr" $selected>$fltr</option>
    #end for
</select>
#end filter
