#extends prewikka.templates.ClassicLayout
#from prewikka import siteconfig

#block main_content
#filter CleanOutput

<div id="about">
<h1>Prewikka $siteconfig.version</h1>
<div id="about_intro"><a href="http://www.prelude-ids.com">Communication & Syst&egrave;mes</a> $_("about_intro")</div>
<img style="margin-left: 10px; margin-top: -10px; padding: 0; float: right;" src="/prewikka/images/prelude-logo.gif" alt="Prelude-IDS logo" />

<h2>$_("Customizing Prelude")</h2>
<p>$_("about_customizing")</p>

<h2>$_("Software Maintenance and Technical Support")</h2>
<p>$_("about_support")</p>

<h2>$_("Commercial licenses")</h2>
<p>$_("about_licence1") <a href="http://www.gnu.org/licenses/gpl.txt">General Public License</a>. $_("about_licence2")</p>

<h2>$_("Advice, Deployment and Training")</h2>
<p>$_("about_advice")</p>

<div id="about_contact">
  <div>
     <b>$_("Contact")</b>
     <p><a href="mailto:contact.prelude@c-s.fr">contact.prelude@c-s.fr</a></p>
     <p><b>$_("Phone:")</b> +33 1 41 28 40 00</p>
     <p><b>$_("Fax:")</b> +33 1 41 28 40 40</p>
  </div>
  <div>
     <b>$_("Office")</b>
     <p>22 avenue Galil&eacute;e</p>
     <p>92350 Le Plessis-Robinson</p>
     <p>France</p>
  </div>
  <div>
     <b>$_("Website")</b>
     <p><a href="http://www.prelude-ids.com">http://www.prelude-ids.com</a></p>
  </div>

</div>

<div id="copyright">Copyright &copy; 2004-2013 CS Communication &amp; Syst&egrave;mes. All rights reserved.</div>

</div>

#end filter
#end block main_content
