#extends prewikka.templates.ClassicLayout

#block main_content

<div id="about" style="border: 0px solid red;"> 

<div style="margin-right: 210px; vertical-align: top;">

<p style="text-align: right; font-size: 11px; font-weight: bold; font-style: italic; color: #4D535C;">
 The Prelude IDS system is brought to you by
</p>

<br/><br/>
<h1 style="text-align: center; margin: 0px; font-size:20px;">PreludeIDS Technologies</h1>

</div>

<br/>

<img style="margin-left: 10px; margin-top: -40px; padding: 0; float: right;" src="/prewikka/images/prelude-logo.gif" alt="Prelude-IDS logo" />

<div style="display: block; vertical-align: middle;">

<p style="font-size: 12px; font-weight: bold;">
PreludeIDS Technologies is a software company specializing in security. It develops, supports
and markets the open source hybrid IDS system 'Prelude' world-wide.
</p>

<br/>

<ul><li style="color: #6f9662; font-weight: bold;">Functionality enhancements
  <p>
  As the authors of the Prelude software, our developers are dedicated to adding features to Prelude
  and offering tailored solutions to customers. Additionally, the company can extend Prelude to 
  handle yet unsupported sensors (including proprietary), ruleset extension to handle new devices and 
  porting of Prelude to unsupported operating systems.
  </p>
</li>

<li style="color: #6f9662; font-weight: bold;">Technical support
  <p>
  The company offers various levels of support to help with maintenance, design and installation.
  The technical support is provided by Prelude experts and  protects customers against possible
  malfunction of the Prelude system. It is available as an annual contract in silver, gold and planitum bands. 
  </p>
</li>

<li style="color: #6f9662; font-weight: bold;">Commercial license
  <p>
  The Prelude framework is licensed under the <a href="http://www.gnu.org/licenses/gpl.txt">General Public License</a>. PreludeIDS Technologies provide specific commercial licenses to allow proprietary systems based on Prelude to be developed and to interoperate.
  </p>
</li>

<li style="color: #6f9662; font-weight: bold;">Training &amp; Consultancy
  <p>
  Tailored training courses are available to meet client needs: use, configuration, 
  integration, etc. The company provides consultancy for deploying Prelude, migration of third 
  party software to Prelude and development of Prelude extensions.
  </p>
</li>

</ul>

</div>

<div style="display: table-row; vertical-align: bottom;width: 100%;"> 

<table align="center" id="about_contact">
 <tr style="text-align: center;">
  <td><b>Contact</b></td>
  <td><b>Headquarter</b></td>
  <td><b>Website</b></td>
 </tr>
 <tr>
  <td><a href="mailto:info@prelude-ids.com">info@prelude-ids.com</a></td>
  <td>2, rue David Girin</td>
  <td><a href="http://www.prelude-ids.com">http://www.prelude-ids.com</a></td>
 </tr>
 <tr>
  <td><b>Phone:</b> +33 8 70 70 21 58</td>
  <td>69002 Lyon</td>
  <td>&nbsp;</td>
 </tr>
 <tr>
  <td>&nbsp;&nbsp;&nbsp;<b>Fax:</b> +33 4 78 42 21 58</td>
  <td>France</td>
  <td>&nbsp;</td>
 </tr>
</table>

</div>
<center style="vertical-align: bottom;" >Copyright &copy; 2004 - 2005 PreludeIDS Technologies. All right reserved.</center>

</div>

#end block main_content
