#extends prewikka.templates.ClassicLayout
#from prewikka import siteconfig

#block main_content
#filter CleanOutput

<div id="about" style="border: 0px solid red;"> 

<div style="vertical-align: top; padding-right: 40px;">

<h2 style="font-weight: bold; color: #4D535C;">Prewikka $siteconfig.version</h2>

<br />

<p style="font-size: 11px; font-weight: bold; font-style: italic; color: #4D535C;">
 <a href="http://www.prelude-ids.com">PreludeIDS Technologies</a> $_("provides support to Large Accounts, Major Companies and Government Agencies around the world, to improve and strengthen the security of their systems and networks.")
</p>

</div>

<br/>

<img style="margin-left: 10px; margin-top: -10px; padding: 0; float: right;" src="prewikka/images/prelude-logo.gif" alt="Prelude-IDS logo" />

<div style="display: block; vertical-align: middle;">

<br/>

<ul><li style="color: #6f9662; font-weight: bold;">$_("Customizing Prelude")
  <p>
  $_("In keeping with the Open Source spirit, we encourage you to participate in the development of your application. You can order customized versions of Prelude to suit your needs: adapting, adding on functionality etc. Because they are carried out by PreludeIDS engineers, you know that any modifications made to the system will be integrated optimally and guaranteed by our technical support department. Additionally, the company can extend Prelude to handle yet unsupported sensors (including proprietary), ruleset extension to handle new devices and porting of Prelude to unsupported operating systems.")
  </p>
</li>

<li style="color: #6f9662; font-weight: bold;">$_("Software Maintenance and Technical Support")
  <p>
   $_("PreludeIDS maintenance and support services guarantee optimal operation of the Prelude platform on your infrastructure. With our support services, you benefit from priority assistance and the expertise of our engineers, while the maintenance service we offer maintains and updates your software.")
  </p>
</li>

<li style="color: #6f9662; font-weight: bold;">$_("Commercial licenses")
  <p>
  $_("The Prelude framework is licensed under the") <a href="http://www.gnu.org/licenses/gpl.txt">General Public License</a>.
  $_("PreludeIDS provides specific commercial licenses to allow proprietary systems based on Prelude to be developed and to interoperate.")
   </p>
</li>

<li style="color: #6f9662; font-weight: bold;">$_("Advice, Deployment and Training")
  <p>
  $_("Through our partners, you have access to an array of top-of-the-line security services. By advising you on how to secure your infrastructure, deploying Prelude and training your users, we provide a turnkey solution to secure your infrastructure, delivered by specialists.")
  </p>
</li>

</ul>

</div>

<br/>

<div style="display: table-row; vertical-align: bottom;width: 100%;"> 

<table align="center" id="about_contact">
 <tr style="text-align: center;">
  <td><b>$_("Contact")</b></td>
  <td><b>$_("Headquarter")</b></td>
  <td><b>$_("Website")</b></td>
 </tr>
 <tr>
  <td><a href="mailto:info@prelude-ids.com">info@prelude-ids.com</a></td>
  <td>2, rue David Girin</td>
  <td><a href="http://www.prelude-ids.com">http://www.prelude-ids.com</a></td>
 </tr>
 <tr>
  <td><b>$_("Phone:")</b> +33 8 70 70 21 58</td>
  <td>69002 Lyon</td>
  <td>&nbsp;</td>
 </tr>
 <tr>
  <td>&nbsp;&nbsp;&nbsp;<b>Fax:</b> +33 4 78 42 21 58</td>
  <td>France</td>
  <td>&nbsp;</td>
 </tr>
</table>

</div>
<center style="vertical-align: bottom;" >Copyright &copy; 2004 - 2007 PreludeIDS Technologies. All right reserved.</center>

</div>

#end filter
#end block main_content
