#filter CleanOutput

#if $code == 401
#set $classname = "alert-warning"
#else
#set $classname = "alert-danger"
#end if

#if not $name
#set $name = $_('An unexpected condition happened')
#end if

#set $message = "<br />".join($message.split("\n"))

#if $is_ajax_error
  <div class="ajax-modal modal fade" role="dialog" aria-labelledby="dialogLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true" tabindex="-1">
#end if

<script type="text/javascript">
  \$(document).ready(function() {
    \$("div.traceback").accordion({collapsible: true, active: false, heightStyle: "content"});
  });
</script>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header $classname">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title title" id="dialogLabel">$name</h3>
        </div>

        <div class="modal-body">
                    #if $details
                   <p>$message</p>
                   <p><b>$details</b></p>
                    #else
                   <p>$message</p>
                    #end if
                   #if $code != 401 and $code >= 400 and $code < 500:
                   <br />
                   <p>$_("This may be due to one or more of the following reasons:")</p>
                   <ul>
                        <li>$_("You don't have the required permissions.")</li>
                        <li>$str($_("Required apps are disabled. See the %s page for more details.") % '<a href="settings/apps">Apps</a>')</li>
                   </ul>
                   #end if

                   #if $traceback
                   <div class="traceback" style="padding-top: 15px;">
                     <h3>$_("Detail")</h3>
                     <div style="padding:5px;"><textarea style="width: calc(100% - 10px);" class="traceback form-control" rows="10" readonly="readonly">$traceback</textarea></div>
                   </div>
                   #end if
        </div>

        <div class="modal-footer standard clearfix">
#if $is_ajax_error
 #if $code != 401
          <a class="btn btn-primary ok" aria-hidden="true" data-dismiss="modal">$_('OK')</a>
 #else
        ## If the session expired, we proceed to reloading the whole page when the user validates the
        ## dialog. This will redirect the user to the Prewikka login page.

        <button class="btn btn-default cancel" data-dismiss="modal" aria-hidden="true">$_('Cancel')</button>
        <a class="btn btn-primary signin" onclick="window.location = window.location;"><span class="fa fa-sign-in"></span> $_('Sign in')</a>
 #end if
#else
        <div class="pull-left">
          <input class="btn btn-default" type="button" value="$_("Back")" onclick="history.back()" />
        </div>
        <div class="pull-right">
          <input class="btn btn-primary" type="submit" value="$_("Retry")" onclick="location.reload()"/>
          #if $code >= 400 and $code <= 500:
           <a class="btn btn-primary ajax-bypass" href="$document.base_url"><i class="fa fa-home"></i> $_("Redirect to main page")</a>
          #end if
        </div>
#end if

        </div>
      </div>
    </div>

#if $is_ajax_error
  </div>
#end if

#end filter
