#extends prewikka.templates.MessageListing

#block message_fields_header
<form action="?" method='GET'>
  <input type="hidden" name="view" value="$current_view"/>
  #for $name, $value in $filter_hidden_parameters.items()
    <input type="hidden" name="$name" value="$value"/>
  #end for

  <td>
    <a onclick="javascript:toggleVisibility('classification')">Classification</a>
    <div class="filter_popup" id="classification" style="display: none">
      Text <input type="text" name="alert.classification.text" value="$alert.classification.text"/>
    </div>
  </td>

  <td>
    <a onclick="javascript:toggleVisibility('source')">Source</a>
    <div class="filter_popup" id="source" style="display: none">
      <table>
        <tr>
          <td>Address</td>
          <td><input type="text"
                     name="alert.source.node.address.address"
                     value="$alert.source.node.address.address"/></td>
        </tr>
        <tr>
          <td>Hostname</td>
          <td><input type="text"
                     name="alert.source.node.name"
                     value="$alert.source.node.name"/></td>
        </tr>
      </table>
    </div>
  </td>

  <td>
    <a onclick="javascript:toggleVisibility('target')">Target</a>
    <div class="filter_popup" id="target" style="display: none">
      <table>
        <tr>
          <td>Address</td>
          <td><input type="text"
                     name="alert.target.node.address.address"
                     value="$alert.target.node.address.address"/></td>
        </tr>
        <tr>
          <td>Hostname</td>
          <td><input type="text"
                     name="alert.target.node.name"
                     value="$alert.target.node.name"/></td>
        </tr>
      </table>
    </div>
  </td>
  
  <td>
    <a onclick="javascript:toggleVisibility('sensor')">Sensor</a>
    <div class="filter_popup" id="sensor" style="display: none">
      Name <input type="text" name="alert.analyzer.name" value="$alert.analyzer.name"/>
    </div>
  </td>

  <td>Time</td>

  <td>
    <input src="img/search.png" type="image" style="border: 0"/>
  </td>

</form>
#end block message_fields_header

#block message_fields
#set $class_ = "impact_severity_" + $message.severity.value

<td>
 <ul id="popup_block">
  <li><span class="$class_">$message.classification.value</span>
  #if $message.completion.value
      (<span class="impact_completion_$message.completion.value">$message.completion.value</span>)
  #end if
      <br/>$message.classification_references
   <ul>
    <li><a href="$message.details">Alert detail</a></li>
    <li><a href="$message.summary">Alert summary</a></li>
    <li><a href="$message.classification.inline_filter">Group by classification</a></li>
   </ul>
  </li>
 </ul>
</td>

<td>
  <ul id="popup_block">
    <li class="popup_title">
      #if $message.sservice.value
        <span>$message.source.value</span>:$message.sservice.value
	#if $message.sservice_extra.value
          ($message.sservice_extra.value)
        #end if
      #else
        <span>$message.source.value</span>
      #end if
      #if $message.source_extra.value
        <br/>($message.source_extra.value)
      #end if
      #if $message.suser_name.value
        <br/>user: $message.suser_name.value
	#if $message.suser_uid.value != None
	  ($message.suser_uid.value)
	#end if
      #end if
      #if $message.sprocess_name.value
        <br/>process: $message.sprocess_name.value
	#if $message.sprocess_pid.value != None
	  ($message.sprocess_pid.value)
	#end if
      #end if
     #if $message.sinterface.value
        <br/>interface: $message.sinterface.value
     #end if
      <ul>
        <li><a href="$message.source.inline_filter">Group by source</a></li>
        #for $name, $link in $message.source.host_commands
          <li><a href="$link">$name</a></li>
        #end for
      </ul>
    </li>
  </ul>
</td>

<td>
  <ul id="popup_block">
    <li class="popup_title">
      #if $message.tservice.value
        <span>$message.target.value</span>:$message.tservice.value
        #if $message.tservice_extra.value
          ($message.tservice_extra.value)
        #end if
      #else
        <span>$message.target.value</span>
      #end if
      #if $message.target_extra.value
        <br/>($message.target_extra.value)
      #end if
      #if $message.tuser_name.value
        <br/>user: $message.tuser_name.value
	#if $message.tuser_uid.value != None
	  ($message.tuser_uid.value)
	#end if
      #end if
      #if $message.tprocess_name.value
        <br/>process: $message.tprocess_name.value
	#if $message.tprocess_pid.value != None
	  ($message.tprocess_pid.value)
	#end if
      #end if
     #if $message.tinterface.value
        <br/>interface: $message.tinterface.value
     #end if
      <ul>
        <li><a href="$message.target.inline_filter">Group by target</a></li>
        #for $name, $link in $message.target.host_commands
          <li><a href="$link">$name</a></li>
        #end for
      </ul>
    </li>
  </ul>
</td>


<td>
  <a href='$message.sensor.inline_filter'>$message.sensor.value</a>
  #if $message.sensor_node_name.value
    (on $message.sensor_node_name.value)
  #end if
</td>
<td>$message.time.value</td>
#end block message_fields

#block timeline_extra_content
<tr>
  <td id="filter_control_label">Filter: </td>
  <td colspan='2'>
  <select name='filter' size="1" class="filter_control_select">
  #for $key, $value in $timeline.hidden_parameters.items()
    <input type='hidden' name='$key' value='$value'/>
  #end for
  <option value=""/>
  #for $fltr in $filters
    #if $fltr == $current_filter
      #set $selected = "selected"
    #else
      #set $selected = ""
    #end if
    <option value='$fltr' $selected/>$fltr
  #end for
  </td>
#end block
