#from prewikka import User, utils
#extends prewikka.templates.MessageListing

#block head_extra_content
#filter CleanOutput

<script type="text/javascript">
<!--
#end filter
#filter Filter

var global_id = 0;
var value_array = Array();
var operator_array = Array();
var title_array = Array();
title_array["="] = "$_("Equal")";
title_array["!="] = "$_("Not equal")";
title_array["<"] = "$_("Lesser than")";
title_array[">"] = "$_("Greater than")";
title_array["<="] = "$_("Lesser or equal")";
title_array[">="] = "$_("Greater or equal")";
title_array["<>"] = "$_("Substring")";
title_array["<>*"] = "$_("Substring (case-insensitive)")";
title_array["~"] = "$_("Regular expression")";
title_array["~*"] = "$_("Regular expression (case-insensitive)")";


function createSelectFromArray(varray, sclass, name_attr, selected, defsel) {
        var elem;
        var select = document.createElement("select");

        for (elem in varray) {
                option = document.createElement("option")
                option.setAttribute("value", varray[elem]);

                if ( title_array[varray[elem]] )
                        option.setAttribute("title", title_array[varray[elem]]);

                if ( varray[elem] == selected )
                        option.setAttribute("selected", "selected");

                option.appendChild(document.createTextNode(varray[elem]))
                select.appendChild(option)
        }

        select.setAttribute("name", name_attr);
        select.setAttribute("class", sclass);

        return select;
}


\$(document).ready(function() {

 \$(".remove_entry").live("click", function() {
        \$(this).parent().parent().remove();
 });

 \$(".append_entry").live("click", function() {
   var tr = \$(this).parent().parent().clone();
   var select = \$(tr).children("td.td_container_path").children();
   var div_id = \$(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().attr("id");

   if ( \$(this).parent().parent().parent().parent().is("table.aggregation_table") )
        \$(select).attr("name", "aggregated_" + div_id);

   else {
        global_id += 1;

        var input = \$(tr).children("td.td_container_value").children();
        \$(tr).children("td.td_container_operator").children().attr("name", div_id + "_operator_" + global_id);
        \$(input).attr("name", div_id + "_value_" + global_id);
        \$(input).attr("value", "");
        \$(input).find("option[value='none']").attr("selected", "selected");
        \$(select).attr("name", div_id + "_object_" + global_id);
   }

   \$(select).trigger("change");

   \$(tr).children("td.td_container_remove").html("<a class=\"remove_entry\">-</a>");
   \$(this).parents(".inline_filter").after(tr);
 });


 \$(".popup_select_field").live("change", function() {
          var td = \$(this).parent();
          var str = \$(this, "> option:selected").attr("value");
          var input = \$(td).siblings(".td_container_value").children();

          if ( operator_array[str] ) {
                var old_select = \$(td).siblings(".td_container_operator").children();
                var old_value = \$(old_select).children(":selected").attr("value");
                select = createSelectFromArray(operator_array[str], "popup_operator_select", \$(old_select).attr("name"), old_value);
                \$(old_select).replaceWith(select);
          }

          if ( value_array[str] ) {
                  select = createSelectFromArray(value_array[str], "popup_input_field", \$(input).attr("name"), \$(input).attr("value"));
                  \$(input).replaceWith(select);
          }

          else {
                var n = document.createElement("input");
                n.setAttribute("type", "text");
                n.setAttribute("name", \$(input).attr("name"));
                n.setAttribute("value", \$(input).attr("value"));
                n.setAttribute("class", "popup_input_field");
                \$(input).replaceWith(n);
          }
 });



 #for $type, $table in ("classification", $classification), ("source", $source), ("target", $target), ("analyzer", $analyzer)
  #set $cnt = 0

  /* trigger change for each empty filter, so that operator/value are positionned correctly */
  \$("#${type} table.filter_table tr .popup_select_field").trigger("change");

  #for $path, $operator, $value in $table

   #if $cnt > 0
    \$("#${type} table.filter_table tr:last a.append_entry").trigger('click');
   #end if
   #set $cnt += 1

  #if not $path
   #continue
  #end if

  \$("#$type table.filter_table tr:last .popup_select_field option[value='$path']").attr("selected", "selected");
  \$("#$type table.filter_table tr:last .popup_operator_select option[value='$operator']").attr("selected", "selected");
  \$("#$type table.filter_table tr:last .popup_input_field").attr("value", "$utils.escape_attribute($value)");
  \$("#$type table.filter_table tr:last .popup_input_field option[value='$value']").attr("selected", "selected");
  #end for
 #end for

 #for $type, $table in ("classification", $aggregated_classification), ("source", $aggregated_source), ("target", $aggregated_target), ("analyzer", $aggregated_analyzer)
  #set $cnt = 0
  #for $path in $table

   #if $cnt > 0
    \$("#${type} table.aggregation_table tr:last a.append_entry").trigger('click');
   #end if
   #set $cnt += 1

   \$("#$type table.aggregation_table tr:last .popup_input_field option[value='$path']").attr("selected", "selected");
  #end for
 #end for
});

//--></script>

#end filter
#end block


#def define_inline_filter($obname, $preselect)
      <table class="inline_filter_content filter_table">
       <tr class="inline_filter">
        <th>$_('Filter on:')</th>
        <td class="td_container_path">
         <select class="popup_select_field" name="${obname}_object_0">
          #for $name, $path, $oplist, $value in $all_filters[$obname]

           #if $value or $oplist
           <script type="text/javascript">
            #if $value
            value_array["$path"] = $value;
            #end if
            #if $oplist
             operator_array["$path"] = $oplist;
            #end if
           </script>
           #end if

           #if $path == None
            <option disabled="disabled" value="">$name</option>

           #elif $path == $preselect
            <option value="$path" selected="selected">$name</option>

           #else
            <option value="$path">$name</option>
           #end if
          #end for
         </select>
        </td>
        <td class="td_container_operator">
         <select class="popup_operator_select" name="${obname}_operator_0"></select>
        </td>
        <td class="td_container_value">
         <input class="popup_input_field" type="text" name="${obname}_value_0"></input>
        </td>
        <td class="td_container_remove">&nbsp;</td>
        <td class="td_container_add"><a class="append_entry">+</a></td>
       </tr>
      </table>
#end def


#def define_inline_aggreg($obname)
      <table class="inline_filter_content aggregation_table">
       <tr class="inline_filter">
        <th>$_('Group entry by:')</th>
        <td class="td_container_path">
         <select class="popup_input_field" name="aggregated_${obname}">
          #for $name, $path, $unuseda, $unusedb in $all_aggregs[$obname]
           #if $path == None
            <option disabled="disabled" value="">$name</option>
           #else
            <option value="$path">$name</option>
           #end if
          #end for
         </select>
        </td>
        <td class="td_container_remove">&nbsp;</td>
        <td class="td_container_add"><a class="append_entry">+</a></td>
       </tr>
      </table>
#end def


#block message_fields_header

<thead>
 <tr style="height: 20px;">
  <th class="filter_popup">
   <a>$_("Classification")</a>
   <div id="classification">
    <table>
     <tr><td>$define_inline_filter("classification", "alert.classification.text")</td></tr>
     <tr><td>$define_inline_aggreg("classification")</td></tr>
     <tr><td><table class="inline_filter_content">
       <tr>
        <th>$_("Type:")</th>
        <td>&nbsp;</td>
        #if $correlation_alert_view
         #set $disabled="disabled=\"disabled\""
        #else
         #set $disabled=""
        #end if

        #for name, path in (($N_("Alert"), "alert.create_time"), ($N_("CorrelationAlert"), "alert.correlation_alert.name"),
                          ($N_("OverflowAlert"), "alert.overflow_alert.program"), ($N_("ToolAlert"), "alert.tool_alert.name"))
         #if path in $alert.type
          #set $checked = "checked='checked'"
         #else
          #set $checked = ""
         #end if

        <td>$_($name)<input class="checkbox" $disabled type="checkbox" name="alert.type" value="$path" $checked /></td>
        #end for
       </tr>

       <tr>
        <th>$_("Severity:")</th>
        #for $item in $N_("info"), $N_("low"), $N_("medium"), $N_("high"), $N_("none")
         #if $item in $alert.assessment.impact.severity
          #set $checked = "checked='checked'"
         #else
          #set $checked = ""
         #end if
        <td>$_($item)<input class="checkbox" type="checkbox" name="alert.assessment.impact.severity" value="$item" $checked /></td>
        #end for
       </tr>

       <tr>
        <th>$_("Completion:")</th>
        <td colspan="2">&nbsp;</td>

        #for item in $N_("succeeded"), $N_("failed"), $N_("none")
         #if item in $alert.assessment.impact.completion
          #set $checked = "checked='checked'"
         #else
          #set $checked = ""
         #end if
        <td>$_($item)<input class="checkbox" type="checkbox" name="alert.assessment.impact.completion" value="$item" $checked /></td>
        #end for
       </tr>
      </table>
     </td></tr>
    </table>
    </div>

    #if $classification_filtered
      <span class="filter_enabled_marker">[$_("filtered")]</span>
    #end if
  </th>

  <th class="filter_popup">
   <a>$_("Source")</a>
   <div id="source">
    <table>
     <tr><td>$define_inline_filter("source", "alert.source.node.address.address")</td></tr>
     <tr><td>$define_inline_aggreg("source")</td></tr>
    </table>

   </div>
   #if $source_filtered
   <span class="filter_enabled_marker">[$_("filtered")]</span>
   #end if
  </th>

  <th class="filter_popup">
   <a>$_("Target")</a>
   <div id="target">
    <table>
     <tr><td>$define_inline_filter("target", "alert.target.node.address.address")</td></tr>
     <tr><td>$define_inline_aggreg("target")</td></tr>
    </table>
   </div>

   #if $target_filtered
   <span class="filter_enabled_marker">[$_("filtered")]</span>
   #end if
  </th>

  <th class="filter_popup">
   <a>$_("Sensor")</a>
   <div id="analyzer">
    <table>
     <tr><td>$define_inline_filter("analyzer", "alert.analyzer.name")</td></tr>
     <tr><td>$define_inline_aggreg("analyzer")</td></tr>
    </table>
   </div>

   #if $analyzer_filtered
    <span class="filter_enabled_marker">[$_("filtered")]</span>
   #end if
  </th>

  <td>$_("Time")</td>
</tr>
</thead>
#end block message_fields_header


#def writeInlineFilter(inline_filter, optval=None, cl="")
#if optval
#if $inline_filter.already_filtered:
<span class="$cl">$optval</span>#slurp
#else
<a class="$cl" href="$inline_filter.inline_filter">$optval</a>#slurp
#end if
#else
#if $inline_filter.already_filtered:
<span class="$cl">$inline_filter.value</span>#slurp
#else
<a class="$cl" href="$inline_filter.inline_filter">$inline_filter.value</a>#slurp
#end if
#end if
#end def


#block message_fields
#filter CleanOutput

<td>
  #if $message.sub_alert_name
    <b>$message.sub_alert_type#slurp
    #if $message.sub_alert_display
      #set $string = $ngettext("alert", "alerts", $message.sub_alert_number)
      (<a href="$message.sub_alert_display">$message.sub_alert_number</a> $string)#slurp
    #end if
:</b> <i><a href="$message.sub_alert_link">$message.sub_alert_name</a></i><br/>#slurp
  #end if

  #if $message.aggregated and $message.aggregated_classifications_hidden > 0
    #set $string = $_("%(hidden)d of %(total)d alerts not shown...")
    <b>($str($string % { "hidden": $message.aggregated_classifications_hidden, "total": $message.aggregated_classifications_total })
    <a href="$message.aggregated_classifications_hidden_expand">$_("expand")</a>)</b>
    <br/>
  #end if

  #for $info in $message.infos
    #if $message.aggregated and (len($message.infos) > 1 or $info.count > 1)
      $info.count x
    #end if

    #if $info.classification.value
      <a class="impact_severity_$info.severity.value" href="$info.display">$info.classification.value</a>
    #else
      <a class="impact_severity_$info.severity.value" href="$info.display">n/a</a>
    #end if

    #if $info.completion.value
      (#filter Filter$writeInlineFilter($info.completion, cl="impact_completion_" + $info.completion.value)#end filter#)
    #end if

    <br/>
    #set $sep = "("
#for url, name in $info.classification_references##slurp
#if $url#$sep<a target="$prewikka.external_link_target" href="$url">$name</a>#else#$sep$name#end if##slurp
      #set $sep = ", "
#end for##if $info.classification_references#)#end if
  #end for
</td>

#for $name, $direction, $hidden, $total, $expand in ($_("source"), $message.source, $message.aggregated_source_hidden, $message.aggregated_source_total, $message.aggregated_source_expand), ($_("target"), $message.target, $message.aggregated_target_hidden, $message.aggregated_target_total, $message.aggregated_target_expand)
<td>
#if len($direction) == 0
       n/a
#end if

#set $need_hr = 0

#if $hidden > 0
       #set $string = $_("%(hidden)d of %(total)d %(name)ss not shown...")
       <b>($str($string % { "hidden": $hidden, "total": $total, "name": $name })
       <a href="$expand">$_("expand")</a>)</b>
       <br/>
#end if

#for $direction in $direction
      #if $need_hr
        <hr style="border: 1px dashed #808080; margin-top: 3px; margin-bottom: 0px;" />
      #end if

      #set $need_hr = 1
      #set $service = ""
      #set $proto_param = ""
      #set $proto_str = ""

      #if $direction.protocol.value != None
       #set $proto_str = $direction.protocol.value.lower()
       #set $proto_param = "&amp;protocol=" + $direction.protocol.value.upper()
      #end if

      #for $address in $direction.addresses
       <a class="popup_menu_toggle">$address.hostname</a><span class="popup_menu">
         - #filter Filter $writeInlineFilter($address, $str($_("Filter on this %s") % ($name))) #end filter
         <br />

       #if not $address.category or $address.category in ("ipv4-addr", "ipv4-net", "ipv6-addr", "ipv6-net")
         - <a target="$prewikka.external_link_target" href="https://www.prelude-ids.com/host_details.php?host=$address.value">$str($_("%s information") % ($name)).capitalize()</a><br />

          #for $cmdname, $link in $address.host_commands
         - <a href="$link">$cmdname</a><br />
          #end for
       #end if
       </span>#slurp
#if $direction.service.value != None#:<a target="$prewikka.external_link_target" href="https://www.prelude-ids.com/port_details.php?port=$str($direction.service.value)$proto_param">$str($direction.service.value)#slurp
         #if $proto_str
/$proto_str</a>
         #else
</a>
         #end if
       #elif $proto_str
:$proto_str
       #end if
<br />
      #end for

      #if $len($direction.addresses) == 0 and $service
        service: $service[1:]
      #end if

     #set $cnt = 0
     #for $name, $value, $extra in $direction.listed_values
         #if $cnt > 0
          <br />
         #end if

         $name: #filter Filter $writeInlineFilter($value) #end filter
         #if $extra != None
          ($extra)
         #end if

         #set $cnt += 1
     #end for
#end for

</td>
#end for

<td>
  #for $sensor in $message.sensors
    #if $sensor.name.value
     #filter Filter$writeInlineFilter($sensor.name)#end filter
    #end if
    #if $sensor.node_name.value
      (#filter Filter$writeInlineFilter($sensor.node_name)#end filter#)
    #end if
    <br/>
  #end for
</td>
<td>
  #if $message.aggregated
    #if $message.time_min.value == $message.time_max.value
      $message.time_min.value
    #else
      $message.time_max.value -
      $message.time_min.value
    #end if
  #else
    $message.time.value
    #if $message.analyzer_time.value
      (sent at $message.analyzer_time.value)
    #end if
  #end if
</td>
#end filter
#filter Filter
#end filter
#end block message_fields


#block orderby_option
     <option value="time_desc" $timeline.time_desc_selected>By time (descending)</option>
     <option value="time_asc" $timeline.time_asc_selected>By time (ascending)</option>
     <option value="count_desc" $timeline.count_desc_selected>By count (descending)</option>
     <option value="count_asc" $timeline.count_asc_selected>By count (ascending)</option>
#end block


#block timeline_extra_content
#filter CleanOutput
<tr>
  <th id="filter_control_label">$_("Filter")</th>
  <td colspan="2">
   <select name="filter" size="1" class="filter_control_select">
    <option value="">&nbsp;</option>
  #for $fltr in $filters
    <option value="$fltr" #if $fltr == $current_filter# selected="selected" #end if#>$fltr</option>
  #end for
  </select>
 </td>
</tr>
#end filter
#filter Filter
#end filter
#end block
