#extends prewikka.templates.MessageListing

#block message_fields_header

<thead>
<script>
function del_entry(link) {
	row = link.parentNode.parentNode
	table = row.parentNode
	if ( ! row.nextSibling ) {
                row.previousSibling.lastChild.appendChild(row.lastChild.firstChild)
	}

	table.removeChild(row)	
}

function simple_add_entry(table_name, object, value) {
	table = document.getElementById(table_name)

	if ( table.lastChild && table.lastChild.nodeName == "TR" ) {
		table.lastChild.lastChild.removeChild(table.lastChild.lastChild.lastChild)
	}

	row = document.createElement("tr")
	table.appendChild(row)

	field = document.createElement("td")
	row.appendChild(field)
	input = document.createElement("input")
	field.appendChild(input)
	input.setAttribute("name", object)
	input.setAttribute("value", value)
	
	field = document.createElement("td")
	row.appendChild(field)

	if ( table.firstChild != table.lastChild ) {
		link = document.createElement("a")
		link.setAttribute("onclick", "del_entry(this)")
		content = document.createTextNode("-")
		link.appendChild(content)
		field.appendChild(link)		
	} else {
		content = document.createTextNode(" ")
		field.appendChild(content)
	}

	field = document.createElement("td")
	row.appendChild(field)
	link = document.createElement("a")
	link.setAttribute("onclick", "simple_add_entry('" + table_name + "', '" + object + "', '')")
	content = document.createTextNode("+")
	link.appendChild(content)
	field.appendChild(link)
}

#for $category, $aggregations in $available_aggregations.items()
function aggregated_${category}_add_entry(path) {
	table = document.getElementById("${category}_aggregation_table")

	if ( table.lastChild && table.lastChild.nodeName == "TR" ) {
		table.lastChild.lastChild.removeChild(table.lastChild.lastChild.lastChild)
	}

	row = document.createElement("tr")
	table.appendChild(row)
        
        field = document.createElement("td")
	row.appendChild(field)
        content = document.createTextNode("Group by")
        field.appendChild(content)
        
        field = document.createElement("td")
	row.appendChild(field)
	select = document.createElement("select")
	field.appendChild(select)
	select.setAttribute("name", "aggregated_${category}")
        
        #for $aggregation_name, $aggregated_path in $aggregations
        
	option = document.createElement("option")
	option.setAttribute("value", '$aggregated_path')
	if ( path == '$aggregated_path' ) {
		option.setAttribute("selected", "true")
	}
	option_value = document.createTextNode('$aggregation_name')
	option.appendChild(option_value)
	select.appendChild(option)
        
        #end for
	
	field = document.createElement("td")
	row.appendChild(field)

	if ( table.firstChild != table.lastChild ) {
		link = document.createElement("a")
		link.setAttribute("onclick", "del_entry(this)")
		content = document.createTextNode("-")
		link.appendChild(content)
		field.appendChild(link)		
	} else {
		content = document.createTextNode(" ")
		field.appendChild(content)
	}

	field = document.createElement("td")
	row.appendChild(field)
	link = document.createElement("a")
	link.setAttribute("onclick", "group_by_${category}_add_entry('')")
	content = document.createTextNode("+")
	link.appendChild(content)
	field.appendChild(link)
}
#end for

function simple_add_entry(table_name, object, value) {
	table = document.getElementById(table_name)

	if ( table.lastChild && table.lastChild.nodeName == "TR" ) {
		table.lastChild.lastChild.removeChild(table.lastChild.lastChild.lastChild)
	}

	row = document.createElement("tr")
	table.appendChild(row)

	field = document.createElement("td")
	row.appendChild(field)
	input = document.createElement("input")
	field.appendChild(input)
	input.setAttribute("name", object)
	input.setAttribute("value", value)
	
	field = document.createElement("td")
	row.appendChild(field)

	if ( table.firstChild != table.lastChild ) {
		link = document.createElement("a")
		link.setAttribute("onclick", "del_entry(this)")
		content = document.createTextNode("-")
		link.appendChild(content)
		field.appendChild(link)		
	} else {
		content = document.createTextNode(" ")
		field.appendChild(content)
	}

	field = document.createElement("td")
	row.appendChild(field)
	link = document.createElement("a")
	link.setAttribute("onclick", "simple_add_entry('" + table_name + "', '" + object + "', '')")
	content = document.createTextNode("+")
	link.appendChild(content)
	field.appendChild(link)
}

#for $name, $objects in (("analyzer", (("name", "alert.analyzer.name"), ("manufacturer", "alert.analyzer.manufacturer"), ("model", "alert.analyzer.model"), ("class", "alert.analyzer.class"))), ("source", (("address", "alert.source.node.address.address"), ("name", "alert.source.node.name"), ("user", "alert.source.user.user_id.name"), ("process", "alert.source.process.name"), ("service", "alert.source.service.name"), ("port", "alert.source.service.port"), ("interface", "alert.source.interface"))), ("target", (("address", "alert.target.node.address.address"), ("name", "alert.target.node.name"), ("user", "alert.target.user.user_id.name"), ("process", "alert.target.process.name"), ("service", "alert.target.service.name"), ("port", "alert.target.service.port"), ("interface", "alert.target.interface"))))

function ${name}_add_entry(object, value, num) {
	table = document.getElementById('${name}_table')

	if ( table.lastChild && table.lastChild.nodeName == "TR" ) {
		table.lastChild.lastChild.removeChild(table.lastChild.lastChild.lastChild)
	}

	row = document.createElement("tr")
	table.appendChild(row)

	field = document.createElement("td")
	row.appendChild(field)
	select = document.createElement("select")
	field.appendChild(select)
	select.setAttribute("name", "${name}_object_" + num)
        
        #for $object_name, $object in $objects
        
	option = document.createElement("option")
	option.setAttribute("value", '$object')
	if ( object == '$object' ) {
		option.setAttribute("selected", "true")
	}
	option_value = document.createTextNode('$object_name')
	option.appendChild(option_value)
	select.appendChild(option)
        
        #end for

	field = document.createElement("td")
	row.appendChild(field)
	input = document.createElement("input")
	field.appendChild(input)
	input.setAttribute("name", '${name}_value_' + num)
	input.setAttribute("value", value)

	field = document.createElement("td")
	row.appendChild(field)

	if ( table.firstChild != table.lastChild ) {
		link = document.createElement("a")
		link.setAttribute("onclick", "del_entry(this)")
		content = document.createTextNode("-")
		link.appendChild(content)
		field.appendChild(link)
	} else {
		content = document.createTextNode(" ")
		field.appendChild(content)
	}

	field = document.createElement("td")
	row.appendChild(field)
	link = document.createElement("a")
	link.setAttribute("onclick", "${name}_add_entry('', '', '" + (num + 1) + "')")
	content = document.createTextNode("+")
	link.appendChild(content)
	field.appendChild(link)
}

#end for

</script>
<tr>
  <td class="filter_popup">
    <a onclick="javascript:toggleFilteredColumnVisibility('classification')">Classification</a>
    <div id="classification">
      <span style="float: left">Text: </span><table id="classification_text"></table>
      <script>
        #for $classification in $alert.classification.text
          simple_add_entry('classification_text', 'alert.classification.text', '$classification')
        #end for
      </script>

      Severity:

      #if "info" in $alert.assessment.impact.severity
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.severity" value="info" $checked/> info

      #if "low" in $alert.assessment.impact.severity
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.severity" value="low" $checked/> low

      #if "medium" in $alert.assessment.impact.severity
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.severity" value="medium" $checked/> medium

      #if "high" in $alert.assessment.impact.severity
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.severity" value="high" $checked/> high
      
      #if "high" in $alert.assessment.impact.severity
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.severity" value="none" $checked/> none

      <br/>      
      Completion:
      
      #if "succeeded" in $alert.assessment.impact.completion
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.completion" value="succeeded" $checked> succeeded
      
      #if "failed" in $alert.assessment.impact.completion
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.completion" value="failed" $checked> failed

      #if "none" in $alert.assessment.impact.completion
        #set $checked = "checked"
      #else
        #set $checked = ""
      #end if
      <input type="checkbox" name="alert.assessment.impact.completion" value="none" $checked> none
      
    </div>

    #if $classification_filtered
      <span>*</span>
    #end if
  </td>

  <td class="filter_popup">
    <a onclick="javascript:toggleFilteredColumnVisibility('source')">Source</a>
    <div id="source">
      <table id="source_table"></table>
      <script>
        #set $cnt = 0
        #for $object, $value in $source
          source_add_entry('$object', '$value', $cnt)
          #set $cnt = $cnt + 1
        #end for
      </script>
      <table id="source_aggregation_table"></table>
      <script>
      #if len($aggregated_source) == 0
        aggregated_source_add_entry("")
      #else
        #for $path in $aggregated_source
          aggregated_source_add_entry('$path')
        #end for
      #end if
      </script>
    </div>
    #if $source_filtered
      <span>*</span>
    #end if
  </td>

  <td class="filter_popup">
    <a onclick="javascript:toggleFilteredColumnVisibility('target')">Target</a>
    <div id="target">
      <table id="target_table"></table>
      <script>
        #set $cnt = 0
        #for $object, $value in $target
          target_add_entry('$object', '$value', $cnt)
          #set $cnt = $cnt + 1
        #end for
      </script>
      <table id="target_aggregation_table"></table>
      <script>
      #if len($aggregated_target) == 0
        aggregated_target_add_entry("")
      #else
        #for $path in $aggregated_target
          aggregated_target_add_entry('$path')
        #end for
      #end if
      </script>
    </div>
    #if $target_filtered
      <span>*</span>
    #end if
  </td>
  
  <td class="filter_popup">
    <a onclick="javascript:toggleFilteredColumnVisibility('analyzer')">Sensor</a>
    <div id="analyzer">
    <table id="analyzer_table"></table>
        <script>
          #set $cnt = 0
          #for $object, $value in $analyzer
            analyzer_add_entry('$object', '$value', $cnt)
            #set $cnt = $cnt + 1
          #end for
        </script>
    </div>
    #if $analyzer_filtered
      <span>*</span>
    #end if
  </td>

  <td>Time</td>

  <td>
    <input src="img/search.png" type="image" style="border: 0"/>
  </td>
</tr>
</thead>
#end block message_fields_header

#block message_fields

<td>
  #for $info in $message.infos
    #if $info.count > 1
      $info.count x
    #end if
    <a class="impact_severity_$info.severity.value" href="$info.display">$info.classification.value</a>
    #if $info.completion.value
      (<span class="impact_completion_$info.completion.value">$info.completion.value</span>)
    #end if
      <br/>$info.classification_references
  #end for
</td>

#for $name, $direction in ("source", $message.source), ("target", $message.target)
<td>
  <ul id="popup_block">
    <li class="popup_title">
      #if $direction.service.value
       <span>$direction.address.value</span>:$direction.service.value
	#if $direction.service_extra.value
          ($direction.service_extra.value)
        #end if
      #else
        <span>$direction.address.value</span>
      #end if
      #if $direction.address_extra.value
        <br/>($direction.address_extra.value)
      #end if
      #if $direction.addresses
        #set $cnt = 0
        #if len($direction.addresses) > 1
          addresses:
        #else
          address:
        #end if
        #for $address in $direction.addresses
          #if $cnt > 0
            ,&nbsp;
          #end if
          $address
          #set $cnt = $cnt + 1
        #end for
      #end if
      #if $direction.users
        #if len($direction.users) > 1
          <br/>users:
        #else
          <br/>user:
        #end if
        #set $cnt = 0
        #for $user in $direction.users
          #if $cnt > 0
            ;&nbsp;
          #end if
          $user.user.value
          #if $user.user_extra.value
            ($user.user_extra.value)
          #end if
          #set $cnt = $cnt + 1
        #end for
      #end if
      #if $direction.process.value
        <br/>process: $direction.process.value
        #if $direction.process_extra.value != None
          ($direction.process_extra.value)
        #end if
      #end if
     #if $direction.interface.value
        <br/>interface: $direction.interface.value
     #end if
     #if $direction.empty
       n/a
     #end if
      <ul>
        <li><a href="$direction.address.inline_filter">Group by $name</a></li>
        #for $name, $link in $direction.address.host_commands
          <li><a href="$link">$name</a></li>
        #end for
      </ul>
    </li>
  </ul>
</td>
#end if

<td>
  <a href='$message.sensor.inline_filter'>$message.sensor.value</a>
  #if $message.sensor_node_name.value
    (on $message.sensor_node_name.value)
  #end if
</td>
<td>
  #if $message.aggregated
    #if $message.time_min.value == $message.time_max.value
      $message.time_min.value
    #else
      $message.time_min.value -
      $message.time_max.value
    #end if
  #else
    $message.time.value
    #if $message.analyzer_time.value
      (sent at $message.analyzer_time.value)
    #end if
  #end if
</td>
#end block message_fields

#block timeline_extra_content
<tr>
  <td id="filter_control_label">Filter: </td>
  <td colspan='2'>
  <select name='filter' size="1" class="filter_control_select">
  <option value=""/>
  #for $fltr in $filters
    #if $fltr == $current_filter
      #set $selected = "selected"
    #else
      #set $selected = ""
    #end if
    <option value='$fltr' $selected/>$fltr
  #end for
  </td>
#end block
