#extends prewikka.templates.TopLayout

#def body_class()
classic_body
#end def

#block toplayout_content
#filter CleanOutput

<div id="topmenu">
  #for $name, $link in $interface.tabs
    #if $name == $interface.active_tab
      #set $class_ = 'topmenu_item_active'
    #else
      #set $class_ = 'topmenu_item_inactive'
    #end if
    <div class="$class_"><p><a href="$link">$_($name)</a></p></div>
  #end for

  <div class="topmenu_item_special">
  #if $prewikka.logout_link
    <p><a href="$prewikka.logout_link">$_("logout")</a></p>
  #end if
  </div>

  <div class="topmenu_item_info">
    #end filter
    <p>$unicode($_("%(username)s on %(date)s") % { "username": $prewikka.userlink, "date": $prewikka.date })</p>
    #filter CleanOutput
  </div>
</div>
#end filter
#filter Filter

#def layout_start_hook
#end def
$layout_start_hook

#end filter
#filter CleanOutput
<div id="menu">
  #for $name, $link in $interface.sections
    #if $name == $interface.active_section
      #set $class_ = 'menu_item_active'
    #else
      #set $class_ = 'menu_item_inactive'
    #end if
    <a class="$class_" href="$link">$_($name)</a>
  #end for

#end filter
#filter Filter
  #def menu_extra_content
  #end def
  $menu_extra_content
</div>

<div id="main">$main_content</div>

#def layout_end_hook
#end def
$layout_end_hook

#end filter
#end block toplayout_content
