#from prewikka import env
#from prewikka.utils import nameToPath
#extends prewikka.templates.TopLayout

#def body_class()
classic_body
#end def

#block toplayout_content
#filter CleanOutput
<script type="text/javascript">

function check_same_origin(url) {
    /*
     * Force url.hostname to be defined in IE9
     * (problem with dynamically created links)
     */
    if ( ! url.hostname )
        url.href = url.href;

    /*
     * When the default port is used in IE9,
     * location.port is empty but url.port is not
     */
    default_port = {"http:": "80", "https:": "443"};
    return url.protocol == location.protocol && url.hostname == location.hostname && (url.port || default_port[url.protocol]) == (location.port || default_port[location.protocol]);
}

\$(document).ready(function() {
        prewikka_loadTab({url: "$document.fullhref", data: "$document.query_string", type: "$document.request_method"});

        /*
         * Back/Forward support.
         */
        \$(window).on("popstate", function(e) {
                if ( e.originalEvent.state == null )
                        return;

                prewikka_loadTab({url: e.originalEvent.state, history:false});
        });

        \$(document).on("click", "a, area", function(event) {
                var url = \$(this).attr('href');

                if ( ! url || url.indexOf("#") != -1 )
                        return;

                if ( ! check_same_origin(this) ) {
                        window.open(url, "$env.external_link_target");
                        return false;
                }

                if ( ! \$(this).hasClass("widget-link") )
                        prewikka_loadTab({ url: url });
                else
                        prewikka_widget({ url: url, dialog: { title: \$(this).attr('title') }});

                return false;
        });

        \$(document).on("click", ":input.widget-link", function() {
                prewikka_widget({
                        url: \$(this).closest("form").attr("action"),
                        dialog: { title: \$(this).attr("title") }
                });

                return false;
        });

        \$(document).on("submit", "#main form", function() {
                \$(this).find("input[name=_download]").remove();

                var data = \$(this).add("#prewikka-view-config-form").serialize();

                if ( \$(this).data("clicked") ) {
                        data += "&" + \$(this).data("clicked");
                        \$(this).removeData("clicked");
                }

                if ( \$(this).data("enable-download") ) {
                        \$(this).removeData("enable-download");
                        \$(this).append('<input type="hidden" name="_download" value="true" />');

                        /* No AJAX for download */
                        return true;
                }

                prewikka_loadTab({
                        url: \$(this).attr("action"),
                        type: \$(this).attr("method"),
                        data: data
                });

                return false;
        });

        \$(document).on("click", "#main form input[type=submit]", function() {
                var name = \$(this).attr("name");
                var value = \$(this).attr("value");

                if ( name && value )
                        \$(this).closest("form").data("clicked", encodeURIComponent(name) + "=" + encodeURIComponent(value));
        });
});
</script>

<div id="topmenu">
    <div class="topmenu_nav">
    #for $section in $interface.sections.keys():
        #set $style = ""

        #if $nameToPath($section) != $interface.active_section
            #set $style="display:none;"
        #end if

        <ul style="$style" class="nav nav-tabs topmenu_section" id="topmenu_$nameToPath($section)">
        #for $name, $views in $interface.sections.get($section).items()
            #set $firstview = $views.values()[0]

            #if $prewikka.user and not $prewikka.user.has($firstview.view_permissions):
                #continue
            #end if

            #if $nameToPath($name) == $interface.active_tab
                #set $class_ = 'active'
            #else
                #set $class_ = ''
            #end if

            <li role="presentation" class="$class_ topmenu_item"><a href="$firstview.view_path" class="topmenu_links">$_($name)</a></li>
        #end for
        </ul>
    #end for
#end filter

    </div>

    <div id="prewikka-view-config-nav" class="pull-right">
        <a type="button" data-toggle="collapse" class="pull-right" data-target="#prewikka-view-config-content"><span style="font-size: 20px;">&#9881;</span></a>
        <form id="prewikka-view-config-form">
            <div class="collapse" id="prewikka-view-config-content"></div>
        </form>
    </div>
</div>

<div id="_main_viewport"></div>
<div id="_main">
    <div id="ajax-spinner" class="ajax-spinner" style="display:none;">
        <img id="img-spinner" src="prewikka/images/ajax-loader.gif" alt="Loading"/>
    </div>
    <div id="main" class="content" />
</div>

#end block toplayout_content
