#extends prewikka.templates.TopLayout

#def body_class()
classic_body
#end def

#block toplayout_content
<div id="topmenu">
  #for $name, $link in $interface.tabs
    #if $name == $interface.active_tab
      #set $class_ = 'topmenu_item_active'
    #else
      #set $class_ = 'topmenu_item_inactive'
    #end if
    <div class='$class_'><p><a href="$link">$name</a></p></div>
  #end for

  <div class='topmenu_item_special'>
  #if $prewikka.logout_link
    <p><a href="$prewikka.logout_link">logout</a></p>
  #end if
  </div>

  <div class="topmenu_item_info">
    #if $prewikka.user
     <p><b><a href="?view=user_settings_display">$prewikka.user.login</a></b> on $prewikka.date</p>
    #end if
  </div>
</div>

#def layout_start_hook
#end def
$layout_start_hook

<div id="menu">
  #for $name, $link in $interface.sections
    #if $name == $interface.active_section
      #set $class_ = 'menu_item_active'
    #else
      #set $class_ = 'menu_item_inactive'
    #end if
    <a class='$class_' href="$link">$name</a>
  #end for
  #def menu_extra_content
  #end def
  $menu_extra_content
</div>
		
<div id='main'>$main_content</div>

#def layout_end_hook
#end def
$layout_end_hook

#end block toplayout_content
