#extends prewikka.templates.TopLayout

#block toplayout_content

 <div id="fieldset_page" style="position: relative; margin: 0px auto; margin-top: 150px; width:500px; height: 300px;">
  <fieldset style="text-align: center; vertical-align: middle;">
   <legend class="error_name">$name</legend>
   <p><b>$message</b></p>
   Failed query: <input type="text" value="$query" style="width: 200px;" />

   <br/><br/>
   
   <form action="$prewikka.url.referer" method="GET">
     <input style="float: left; position: relative;" type="submit" value="Back"/>
   </form>
   <form action="$prewikka.url.current" method="GET">
     <input style="float: right; position: relative;" type="submit" value="Retry"/>
   </form>
  </fieldset>
 </div>

#end block toplayout_content
