#from prewikka import utils
#extends prewikka.templates.ClassicLayout

#block main_content

<script type="text/javascript"><!--
function newFilterElement(name, object, operator, object_value) {
	objects = new Array($objects)
	operators = new Array($operators)

	table = document.getElementById("elements")

	if ( ! name ) {
		if ( table.lastChild.nodeName == "TR" ) {
			child = table.lastChild.firstChild.firstChild
			name = new String(child.nodeValue)
			if ( name.charAt(name.length - 1) == "Z" ) {
				name = name.concat("A")
			} else {
				name = name.substr(0, name.length - 1) +
						   String.fromCharCode(name.charCodeAt(name.length - 1) + 1)
			}
		} else {
			name = "A"
		}
	}

	row = document.createElement("tr")
	table.appendChild(row)

	field = document.createElement("td")
	row.appendChild(field)
	value = document.createTextNode(name)
	field.appendChild(value)

	field = document.createElement("td")
	row.appendChild(field)
	select = document.createElement("select")
	field.appendChild(select)
	select.setAttribute("name", "object_" + name)
	for ( var i = 0; i < objects.length; i++ ) {
		option = document.createElement("option")
		if ( object == objects[i] ) {
			option.setAttribute("selected", "true")
		}
		option.setAttribute("value", objects[i])
		select.appendChild(option)
		value = document.createTextNode(objects[i])
		option.appendChild(value)
	}

	field = document.createElement("td")
	row.appendChild(field)
	select = document.createElement("select")
	field.appendChild(select)
	select.setAttribute("name", "operator_" + name)
	for ( var i = 0; i < operators.length; i++ ) {
		/* NB: setting selected to true before adding option to select is mandatory,
                   if it is done after, it won't work  */
		option = document.createElement("option")
		if ( operator == operators[i] ) {
			option.setAttribute("selected", "true")
		}
		select.appendChild(option)
		option.setAttribute("value", operators[i])
		value = document.createTextNode(operators[i])
		option.appendChild(value)
	}

	field = document.createElement("td")
	row.appendChild(field)
	input = document.createElement("input")
	field.appendChild(input)
	/* NB: if type=text is set before value=something, the value won't be displayed */
	/*input.setAttribute("type", "text")*/
	input.setAttribute("name", "value_" + name)
	input.setAttribute("value", object_value)

	field = document.createElement("td")
	row.appendChild(field)
	link = document.createElement("a")
	link.setAttribute("href", "#")
	field.appendChild(link)
	link.onclick = function() { this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode) }
	link.setAttribute("style", "position: relative; float: right;")
	value = document.createTextNode("-")
	link.appendChild(value)
}
//--></script>


#filter CleanOutput
<div id="fieldset_page" style="display: table-cell;">

<fieldset class="fieldset_heading">
<legend>$_("Available filters")</legend>
<form action="?" method="post">
  <input type="hidden" name="view" value="filter_edition"/>

  <select style="width: 400px;" name="filter_name">
    <option value="">&nbsp;</option>
  #for $f in $filters
    #if $f == $fltr.name
      #set $selected = "selected=\"selected\""
    #else
      #set $selected =""
    #end if
    <option value="$f" $selected>$f</option>
  #end for
  </select>

  <input type="submit" name="mode" value="$_("Load")"/>
  <input type="submit" name="mode" value="$_("Delete")"/>
</form>
</fieldset>

<br/>

<form action="?" method="post">
<input type="hidden" name="view" value="filter_edition"/>

<fieldset>
<legend>$_("Edition")</legend>
<table>
 <tfoot>
  <tr>
   <td style="text-align: right;" colspan="4">&nbsp;</td>
   <td><a style="text-align: right;" href="javascript:newFilterElement('', '', '', '')">+</a></td>
  </tr>
 </tfoot>
 <tbody id="elements"></tbody>
</table>

#end filter
#filter Filter

<script type="text/javascript"><!--
#for $element in $elements
	newFilterElement("$utils.escape_attribute($element.name)", "$utils.escape_attribute($element.object)", "$utils.escape_attribute($element.operator)", "$utils.escape_attribute($element.value)");
#end for
//--></script>

#end filter
#filter CleanOutput

<br />


<table>
 <tr>
  <th>$_("Formula:")</th>
  <td><input style="width: 400px;" type="text" name="formula" value="$formula"/></td>
 </tr>
 <tr>
  <th>$_("Name:")</th>
  <td><input style="width: 400px;" type="text" name="save_as" value="$fltr.name"/></td>
 </tr>
 <tr>
  <th style="vertical-align: top;">$_("Comment:")</th>
  <td><textarea style="width: 400px;" name="filter_comment" rows="4" cols="55">$fltr.comment</textarea></td>
 </tr>
</table>

<input style="float: right;" type="submit" name="mode" value="$_("Save")"/> 
</fieldset>
</form>

</div>
#end filter
#end block main_content
