#extends prewikka.templates.MessageListing

#block message_fields_header
<td>Agent</td>
<td>Node Address</td>
<td>Node Name</td>
<td>Type</td>
<td>Time</td>
#end block message_fields_header

#block message_fields

<td>
 <ul id="popup_block">
  <li class="popup_title">$message.agent.value
   <ul>
    <li><a href="$message.details">Heartbeat detail</a></li>
    <li><a href="$message.summary">Heartbeat summary</a></li>
    <li><a href="$message.agent.inline_filter">Group by agent</a></li>
   </ul>
  </li>
 </ul>
</td>

<td>
 <ul id="popup_block">
  <li class="popup_title">$message.node_address.value
   <ul>
    <li><a href="$message.node_address.inline_filter">Group by address</a></li>
    #for $name, $link in $message.node_address.host_commands
     <li><a href="$link">$name</a></li>
    #end for
   </ul>
  </li>
 </ul>
</td>

<td><a href='$message.node_name.inline_filter'>$message.node_name.value</a></td>
<td><a href='$message.model.inline_filter'>$message.model.value</a></td>

<td>$message.time.value</td>
#end block message_fields
