#extends prewikka.templates.MessageListing

#block message_fields_header
<thead>

<td class="filtered_column">
  <div>Agent</div>
  #if $name_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>Node Address</div>
  #if $address_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>Node Name</div>
  #if $node_name_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>Type</div>
  #if $model_filtered
    <span>*</span>
  #end if 
</td>

<td>Time</td>

</thead>
#end block message_fields_header

#block message_fields

<td>
  <ul id="popup_block">
    <li class="popup_title">$message.agent.value
      <ul>
        <li><a href="$message.summary">Heartbeat summary</a></li>
        <li><a href="$message.agent.inline_filter">Filter on agent</a></li>
      </ul>
    </li>
  </ul>
</td>

<td>
  #if len($message.node_addresses) > 0
    #for $address in $message.node_addresses
    <ul id="popup_block">
      <li class="popup_title">$address.value
        <ul>
          <li><a href="$address.inline_filter">Filter on address</a></li>
          #for $name, $link in $address.host_commands
            <li><a href="$link">$name</a></li>
          #end for
        </ul>
      </li>
    </ul>
    #end for
  #else
    n/a
  #end if
</td>

<td>
  <a href='$message.node_name.inline_filter'>$message.node_name.value</a>
</td>

<td>
  <a href='$message.model.inline_filter'>$message.model.value</a>
</td>

<td>$message.time.value</td>
#end block message_fields
