#extends prewikka.templates.MessageListing

#block message_fields_header
#filter CleanOutput

#set global $cnt = 0

<thead>
<tr>
<td class="filtered_column">
  <div>$_("Agent")</div>
  #if $name_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>$_("Node Address")</div>
  #if $address_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>$_("Node Name")</div>
  #if $node_name_filtered
    <span>*</span>
  #end if 
</td>

<td class="filtered_column">
  <div>$_("Type")</div>
  #if $model_filtered
    <span>*</span>
  #end if 
</td>

<td>Time</td>
<td>&nbsp;</td>
</tr>

</thead>
#end filter
#end block message_fields_header

#block message_fields

<td>
  <a href="#" onclick="javascript:toggleVisibilityUnique('menu_$cnt'); return false;">$message.agent.value</a>
  <span id="menu_$cnt" class="popup_menu">
  #set global $cnt += 1
   - <a href="$message.summary">Heartbeat summary</a><br />
   - <a href="$message.agent.inline_filter">Filter on agent</a>
  </span>
</td>

<td>
  #if len($message.node_addresses) > 0
    #for $address in $message.node_addresses
    <a href="#" onclick="javascript:toggleVisibilityUnique('menu_$cnt'); return false;">$address.value</a><br />
    <span id="menu_$cnt" class="popup_menu">
    #set global $cnt += 1

      - <a href="$address.inline_filter">Filter on address</a><br />
      - <a target="$prewikka.external_link_target" href="https://www.prelude-ids.com/host_details.php?host=$address.value">Address information</a><br />

      #for $name, $link in $address.host_commands
      - <a href="$link">$name</a><br />
      #end for

    </span>
    #end for
  #else
    n/a
  #end if
</td>

<td>
 <a href="$message.node_name.inline_filter">$message.node_name.value</a><br />
</td>

<td>
  <a href="$message.model.inline_filter">$message.model.value</a>
</td>

<td>$message.time.value</td>

#set global $cnt += 1
#end block message_fields
