<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>$document.title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=$document.charset" />
		<link rel="Shortcut Icon" href="prewikka/images/favicon.ico"/>

		#for $css_file in $document.css_files
			<link rel="stylesheet" href="$css_file" type="text/css"/>
		#end for

		#for $js_file in $document.js_files
			<script src="$js_file" type="text/javascript"></script>
		#end for

		#def head_extra_content
		#end def
		$head_extra_content
	</head>
	$body
</html>
