#from prewikka import localization
#extends prewikka.templates.TopLayout

#block toplayout_content
#filter CleanOutput

#silent localization.setLocale(localization._DEFAULT_LANGUAGE)

<div id="fieldset_page" style="position: absolute; top: 25%; left: 50%; width: 330px; margin-left: -165px;">
<fieldset>
  <legend>$_("User authentication")</legend>
  <table>
    <form action="?" method="post">
      #for $name, $value in $arguments
        #if type($value) is list
          #for $val in $value
            <input type="hidden" name="$name" value="$val"/>
          #end for
        #else
          <input type="hidden" name="$name" value="$value"/>
        #end if
      #end for
      <tr>
        <th>$_("Login:")</th>
        <td><input type="text" name="_login"/></td>
      </tr>
      <tr>
        <th>$_("Password:")</th>
        <td><input type="password" name="_password"/></td>
      </tr>
     </table>

     <input style="float: right;" type="submit" value="$_("Submit")"/>
     <span class="authentication_error">$_($message)</span>
    </form>
 </fieldset>
</div>

#end filter

<div style="text-align: center; position: absolute; bottom: 25px; width: 100%;">
$_("Prelude OSS is the open-source version of the Prelude SIEM")
<br><br><b><a href="http://www.prelude-ids.com" style="font-size:12pt">www.prelude-ids.com</a></b>
<br><br>
#set $text = $_("This OSS version has lower performance and less <a href='%s'>features</a> than the Pro/Enterprise versions.") % "http://www.prelude-ids.com/index.php/uk/products/oss-pro-enterprise"
$text
<br>$_("It is intended for tests and small environments, and should not be used in critical environments.")
</div>

#end block toplayout_content
