#extends prewikka.templates.TopLayout

#block toplayout_content
<div class="login_password">
	<table>
		<form action='?' method='post'>
			<tr>
				<td>Login:</td>
				<td><input type='text' name='login'/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password'/></td>
			</tr>
			<tr>
				<td>
					<input type='submit' value="ok"/>
				</td>
				<td class='authentication_error'>
					$message
				</td>
			</tr>
		</form>
	</table>
</div>
#end block toplayout_content
