#extends prewikka.templates.TopLayout

#block toplayout_content
<div id="fieldset_page" style="style=position: relative; margin: 0px auto; margin-top: 150px; width: 330px;">
<fieldset>
  <legend>User authentication</legend>
  <table>
    <form action='?' method='post'>
      #for $name, $value in $arguments
        #if type($value) is list
          #for $val in $value
            <input type='hidden' name='$name' value='$val'/>
          #end for
        #else
          <input type='hidden' name='$name' value='$value'/>
        #end if
      #end for
      <tr>
        <th>Login:</th>
        <td><input type='text' name='_login'/></td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type='password' name='_password'/></td>
      </tr>
      <tr>
        <td class='authentication_error'>
	 $message
	</td>
        <td>
          <input style="float: right; position: relative;" type='submit' value="Submit"/>
        </td>
      </tr>
    </form>
  </table>
 </fieldset>
</div>
#end block toplayout_content
