#from prewikka import User
#extends prewikka.templates.ClassicLayout

#def layout_start_hook
<form method="post" action="?">
#for $name, $value in $hidden_parameters
  <input type="hidden" name="$name" value="$value"/>
#end for
#end def

#def layout_end_hook
</form>
#end def



#block main_content
#def message_listing_header
#end def
$message_listing_header

<table id="message_list_result">
  $message_fields_header
  <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0

    #for $message in $messages
      #set global $message = $message
        <tr class="$row_classes[$cnt % 2]">
          $message_fields
          <td class="static_content_column">
            #if $prewikka.user.has(User.PERM_IDMEF_ALTER)
              <input class="checkbox" type="checkbox" name="delete" value="$message.delete"/>
	    #else
	      &nbsp;
            #end if
          </td>
        </tr>
        #set $cnt += 1
      #end for

#if $prewikka.user.has(User.PERM_IDMEF_ALTER) and $cnt
     <tr>
      <td colspan="4">&nbsp;</td>
      <td style="text-align: right;"><input type="submit" value="$_("Delete")"/></td>
      <td class="static_content_column">
       <input class="checkbox" type="checkbox" id="allbox" onclick="checkBoxByName('delete', document.forms[0].allbox.checked);"/>
      </td>
     </tr>
    </tbody>
#end if

  </table>
#end block main_content




#block menu_extra_content
<table id="timeline">
  #def timeline_extra_content
  #end def
  $timeline_extra_content
  
  <tr>
   <th id="timeline_step_label">$_("Step:")</td>
   <td>
    <input class="timeline_value" name="timeline_value" type="text" size="2" value="$timeline.value"/>
   </td>
   <td> 
    <select class="timeline_unit_select" name="timeline_unit">
     <option value="min" $timeline.min_selected>$_("Minutes")</option>
     <option value="hour" $timeline.hour_selected>$_("Hours")</option>
     <option value="day" $timeline.day_selected>$_("Days")</option>
     <option value="month" $timeline.month_selected>$_("Months")</option>
     <option value="year" $timeline.year_selected>$_("Years")</option>
     <option value="unlimited" $timeline.unlimited_selected>$_("Unlimited")</option>
    </select>
   </td>
  </tr>

  <tr>
    <th id="timezone_control_label">$_("Tz:")</td>
    <td colspan="2">
      <select class="timezone_control_select" name="timezone">
        <option value="frontend_localtime" $timeline.frontend_localtime_selected>$_("Frontend localtime")</option>
	<option value="sensor_localtime" $timeline.sensor_localtime_selected>$_("Sensor localtime")</option>
	<option value="utc" $timeline.utc_selected>UTC</option>
       </select>
     </td>
  </tr>
	
  <tr>
   <th id="timeline_limit_label">$_("Limit:")</td>

   <td colspan="2">
    <input id="timeline_limit_value" type="text" size="2" name="limit" value="$limit"/>
   </td>
  </tr>

  <tr style="text-align: center;">
      <td colspan=3><input type="submit" name="apply" value="$_("Apply")" />
      <input type="submit" name="_save" value="$_("Save")" /></td>
  </tr>

#filter CleanOutput

#if not $timeline.start
 <tr><td colspan="4" class="timeline_range">Unlimited</td></tr>
 <tr><td colspan="4" class="timeline_range">-</td></tr>
#else
 <tr><td colspan="4" class="timeline_range">$timeline.start</td></tr>
 <tr><td colspan="4" class="timeline_range">$timeline.end</td></tr>
#end if
 <tr><td colspan="4" class="timeline_range">$timeline.range_timezone</td></tr>

 <tr>
  <td colspan="4" style="text-align: center;">
   <table><tr>
    #if $timeline.prev
     <td class="timeline_control_prev"><a href="$timeline.prev"><b>$_("prev")</b></a></td>
    #else
     <td class="timeline_control_inactive"><b>$_("prev")</b></td>
    #end if

    #if $timeline.current
     <td class="timeline_control_cur"><a href="$timeline.current"><b>$_("current")</b></a></td>
    #else
     <td class="timeline_control_cur_inactive"><b>$_("current")</b></td>
    #end if

    #if $timeline.next
     <td class="timeline_control_next"><a href="$timeline.next"><b>$_("next")</b></a></td>
    #else 
     <td class="timeline_control_inactive"><b>$_("next")</b></td>
    #end if

   </tr></table>
  </td>
 </tr>

 </table>


<table id="message_list_nav">
  <tr>
    #if $nav.prev
      <td class="message_list_nav_button"><a href="$nav.first">&lt;&lt;</a></td>
      <td class="message_list_nav_button"><a href="$nav.prev">&lt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&lt;&lt;</td>
      <td class="message_list_nav_button_empty">&lt;</td>
    #end if
    #if $nav.next
      <td class="message_list_nav_button"><a href="$nav.next">&gt;</a></td>
      <td class="message_list_nav_button"><a href="$nav.last">&gt;&gt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&gt;</td>
      <td class="message_list_nav_button_empty">&gt;&gt;</td>
    #end if
  </tr>
  <tr>
    <td class="message_list_nav_infos" colspan="4">
      $nav.from ... $nav.to ($_("total"):$total)
    </td>
  </tr>
</table>

#end filter
#filter Filter
#end filter
#end block menu_extra_content
