#from prewikka import User
#extends prewikka.templates.ClassicLayout

#def layout_start_hook

<script type="text/javascript">
<!--
var second_reload  = 0;
var second_count   = 0;
var autorefresh_enabled = true;

\$(document).ready(function() {
  \$("#allbox").click(function(){
    \$('input[@name=delete]').check(\$(this).attr('checked'));
  });


  if ( navigator.userAgent.indexOf("Konqueror") != -1 ) {
        \$("th.filter_popup > div").css("display", "block");
        \$("th.filter_popup > div").hide();
   }

  \$("th.filter_popup > a").click(function(){
        \$(this).next().popupUnique(function(data){data.show()}, function(data){data.hide()})
        return false;
  });

  \$("input[name='auto_apply_value'], input[type='submit']").focus(function(){
        autorefresh_possible = false;
  });

  \$("input[name='auto_apply_value']").blur(function(){
        if ( second_reload <= second_count )
                second_count = 0;

        autorefresh_possible = true;
  });

  \$(".auto_apply_button").click(function(){
        if ( document.messagelisting.auto_apply_enable.value == "true" ) {
                autorefresh_enabled = false;

                document.messagelisting.auto_apply_enable.value = "false";
                document.messagelisting.auto_apply_image.src = "prewikka/images/play.png";
        } else {
                autorefresh_enabled = true;

                document.messagelisting.auto_apply_enable.value = "true";
                document.messagelisting.auto_apply_image.src = "prewikka/images/pause.png";
        }
  });

  \$("a[href]").click(function(){
        autorefresh_possible = false;
  });
});


function pad(number)
{
        if ( number < 10 )
            return "0" + number;
        else
            return number;
}

function autoApplyTime() {
        if ( document.messagelisting.auto_apply_value.value )
                var rawtime = document.messagelisting.auto_apply_value.value;
        else
                var rawtime = "0:00";

        var old = second_reload;
        var parselimit = rawtime.split(":");

        if ( parselimit[0] && parselimit[1] && parselimit[2] )
                second_reload = parselimit[0] * 3600 + parselimit[1] * 60 + parselimit[2] * 1;

        else if ( parselimit[0] && parselimit[1] )
                second_reload = parselimit[0] * 60 + parselimit[1] * 1;

        else
                second_reload = rawtime;

        if ( second_reload != old )
                secound_count = 0;
}


function autoApplyCounter() {
        autoApplyTime();

        if ( autorefresh_enabled == false || autorefresh_possible == false || second_reload == 0 ) {
                setTimeout("autoApplyCounter()", 1000);
                return;
        }

        second_count += 1;
        document.getElementById("auto_apply_current").innerHTML = Math.floor(second_count / 60) + ":" + pad((second_count % 60));

        if ( second_count != second_reload )
                setTimeout("autoApplyCounter()", 1000);

        else if ( second_count == second_reload ) {
                second_count = 0;

                var yaxis = 0;

                if ( window.pageYOffset )
                        yaxis = window.pageYOffset;

                else if ( window.documentElement && window.documentElement.scrollTop )
                        yaxis = window.documentElement.scrollTop;

                else if ( document.body.scrollTop )
                        yaxis = window.body.scrollTop;

                document.messagelisting.y.value = yaxis;
                document.messagelisting.submit("Apply");
        }
}


function setScrollBar() {
        if ( document.messagelisting.y.value ) {
                window.scrollTo('0', document.messagelisting.y.value) ;
                document.messagelisting.y.value = 0;
        }
}


function beginAutoApply() {
#if $auto_apply_enable == "true"
        autorefresh_enabled = true;
#else
        autorefresh_enabled = false;
#end if

        setScrollBar();
        setTimeout("autoApplyCounter()", 1000);
}

//--></script>

<form id="messagelisting" name="messagelisting" method="post" action="?">
#for $name, $value in $hidden_parameters
  <input type="hidden" name="$name" value="$value"/>
#end for
#end def

#def layout_end_hook
</form>
#end def


#block main_content

#def message_listing_header
#end def
$message_listing_header

<table id="message_list_result">
  $message_fields_header
  <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0

    #for $message in $messages
      #set global $message = $message
        <tr class="$row_classes[$cnt % 2]">
          $message_fields
          <td>
            #if $prewikka.user.has(User.PERM_IDMEF_ALTER)
              <input class="checkbox" type="checkbox" name="delete" value="$message.delete"/>
            #else
              &nbsp;
            #end if
          </td>
        </tr>
        #set $cnt += 1
      #end for
    </tbody>

#if $prewikka.user.has(User.PERM_IDMEF_ALTER) and $cnt
   <tfoot>
     <tr>
      <td colspan="4">&nbsp;</td>
      <td style="text-align: right;"><input type="submit" value="$_("Delete")"/></td>
      <td>
       <input class="checkbox" type="checkbox" id="allbox" />
      </td>
     </tr>
    </tfoot>
#end if
</table>
#end block main_content


#block orderby_option
     <option value="time_desc" $timeline.time_desc_selected>By time (descending)</option>
     <option value="time_asc" $timeline.time_asc_selected>By time (ascending)</option>
#end block

#block menu_extra_content

<table id="timeline">
  #def timeline_extra_content
  #end def
  $timeline_extra_content

  <tr>
   <th id="timeline_step_label">$_("Period")</th>
   <td colspan="2">
    <input name="timeline_value" type="text" size="2" value="$timeline.value"/>
    <select name="timeline_unit">
     <option value="min" $timeline.min_selected>$_("Minutes")</option>
     <option value="hour" $timeline.hour_selected>$_("Hours")</option>
     <option value="day" $timeline.day_selected>$_("Days")</option>
     <option value="month" $timeline.month_selected>$_("Months")</option>
     <option value="year" $timeline.year_selected>$_("Years")</option>
     <option value="unlimited" $timeline.unlimited_selected>$_("Unlimited")</option>
    </select>
   </td>
  </tr>

  <tr>
    <th id="timezone_control_label">$_("Timezone")</th>
    <td colspan="2">
      <select name="timezone">
        <option value="frontend_localtime" $timeline.frontend_localtime_selected>$_("Frontend localtime")</option>
        <option value="sensor_localtime" $timeline.sensor_localtime_selected>$_("Sensor localtime")</option>
        <option value="utc" $timeline.utc_selected>$_("UTC")</option>
       </select>
     </td>
  </tr>

  <tr>
   <th id="timeline_limit_label">$_("Limit")</th>

   <td colspan="1">
    <input id="timeline_limit_value" type="text" size="2" name="limit" value="$limit"/>
   </td>
   <td>
    <select name="orderby">
    $orderby_option
    </select>
   </td>
  </tr>

  <tr>
    <th id="auto_apply_label">$_("Refresh")</th>

    <td colspan="2">
    #if $auto_apply_enable == "true"
        #set $img = "prewikka/images/pause.png"
    #else:
        #set $img = "prewikka/images/play.png"
    #end if

<input type="hidden" name="auto_apply_enable" value="$auto_apply_enable" />

<div class="auto_apply_current" id="auto_apply_current">0:00</div>
<input type="text" size="3" name="auto_apply_value" value="$auto_apply_value" />
<a class="auto_apply_button"><img id="auto_apply_image" src="$img" alt="Play/Pause" /></a>

    </td>
  </tr>

#filter CleanOutput

<tr>
 <td colspan="3" style="text-align: center">

<br style="line-height: 5px;" />

<div>
 <input id="form_apply" type="submit" name="apply" value="$_("Apply")" />&nbsp;<input type="submit" name="_save" value="$_("Save")" />
</div>

<br style="line-height: 5px;" />

<div class="timeline_range">
#if not $timeline.start
 Unlimited<br/>
 -<br/>
#else
 $timeline.start<br/>
 $timeline.end<br/>
#end if
 $timeline.range_timezone
</div>

</td>
</tr>

 <tr>
  <td colspan="3">
   <table><tr>
    #if $timeline.prev
     <td class="timeline_control_prev"><a href="$timeline.prev"><b>$_("prev")</b></a></td>
    #else
     <td class="timeline_control_inactive"><b>$_("prev")</b></td>
    #end if

    #if $timeline.current
     <td class="timeline_control_cur"><a href="$timeline.current"><b>$_("current")</b></a></td>
    #else
     <td class="timeline_control_cur_inactive"><b>$_("current")</b></td>
    #end if

    #if $timeline.next
     <td class="timeline_control_next"><a href="$timeline.next"><b>$_("next")</b></a></td>
    #else
     <td class="timeline_control_inactive"><b>$_("next")</b></td>
    #end if

   </tr></table>
  </td>
 </tr>

 </table>

<table id="message_list_nav">
  <tr>
    #if $nav.prev
      <td class="message_list_nav_button"><a href="$nav.first">&lt;&lt;</a></td>
      <td class="message_list_nav_button"><a href="$nav.prev">&lt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&lt;&lt;</td>
      <td class="message_list_nav_button_empty">&lt;</td>
    #end if
    #if $nav.next
      <td class="message_list_nav_button"><a href="$nav.next">&gt;</a></td>
      <td class="message_list_nav_button"><a href="$nav.last">&gt;&gt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&gt;</td>
      <td class="message_list_nav_button_empty">&gt;&gt;</td>
    #end if
  </tr>
  <tr>
    <td class="message_list_nav_infos" colspan="4">
      $nav.from ... $nav.to ($_("total"):$total)
    </td>
  </tr>
</table>

#end filter
#filter Filter
#end filter
#end block menu_extra_content

#block body
<body class="$body_class" onload="beginAutoApply()">
        <div id="top_view">
                <div id="top_view_header">
                        <div id="top_view_header_software">$prewikka.software</div>
                        <div id="top_view_header_place">$prewikka.place</div>
                        <div id="top_view_header_title">$prewikka.title</div>
                </div>
                $toplayout_content
        </div>
</body>
#end block body
