#from prewikka import User
#extends prewikka.templates.ClassicLayout

#def layout_start_hook
<form>
#for $name, $value in $hidden_parameters
  <input type="hidden" name="$name" value="$value"/>
#end for
#end def



#def layout_end_hook
</form>
#end def



#block main_content
#def message_listing_header
#end def
$message_listing_header

<table id="message_list_result">
  $message_fields_header
  <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0
    #for $message in $messages
      #set global $message = $message
        <tr class='$row_classes[$cnt%2]'>
          $message_fields
          <td class='static_content_column'>
            #if $prewikka.user.has(User.PERM_IDMEF_ALTER)
              <input type='checkbox' name='delete' value='$message.delete'/>
            #end if
          </td>
        </tr>
        #set $cnt += 1
      #end for
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  #if $prewikka.user.has(User.PERM_IDMEF_ALTER)
    <div align="right"><input type='submit' value='Delete'/></div>
  #end if
#end block main_content




#block menu_extra_content
<table id="timeline">
  #def timeline_extra_content
  #end def
  $timeline_extra_content
  
  <tr>
   <td id="timeline_step_label">Step:</td>
   <td id="timeline_step_value">
    <input name="timeline_value" type="text" size="2" value="$timeline.value"/>
   </td>

   <td id="timeline_unit">
    <select name="timeline_unit">
     <option value="min" $timeline.min_selected>Minutes
     <option value="hour" $timeline.hour_selected>Hours
     <option value="day" $timeline.day_selected>Days
     <option value="month" $timeline.month_selected>Months
     <option value="year" $timeline.year_selected>Years
    </select>
   </td>
  </tr>

  <tr>
    <td id="timezone_control_label">Tz:</td>
    <td colspan="2">
      <select class="timezone_control_select" name="timezone">
        <option value="frontend_localtime" $timeline.frontend_localtime_selected>Frontend localtime
	<option value="sensor_localtime" $timeline.sensor_localtime_selected>Sensor localtime
	<option value="utc" $timeline.utc_selected>UTC
       </select>
     </td>
  </tr>
	
  <tr>
   <td id="timeline_limit_label">Limit: </td>
   <td>
    <input id="timeline_limit_value" type='text' size="2" name='limit' value='$limit'/>
   </td>

   <td id="timeline_submit">
    <input type="submit" value="apply">
   </td>
  </tr>

 <tr><td colspan="3" class="timeline_range">$timeline.start</td></tr>
 <tr><td colspan="3" class="timeline_range">$timeline.end</td></tr>
 <tr><td colspan="3" class="timeline_range">$timeline.range_timezone</td><tr>

 <tr>
  <td colspan=3 style="text-align: center;">
   <table><tr>
    <td class="timeline_control_prev"><a href="$timeline.prev"><b>prev</b></a></td>
    <td class="timeline_control_cur"><a href="$timeline.current"><b>current</b></a></td>
    <td class="timeline_control_next"><a href="$timeline.next"><b>next</b></a></td>
   </tr></table>
  </td>
 </tr>
 </table>


<table id="message_list_nav">
  <tr>
    #if $nav.prev
      <td class="message_list_nav_button"><a href='$nav.first'>&lt;&lt;</a></td>
      <td class="message_list_nav_button"><a href='$nav.prev'>&lt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&lt;&lt;</td>
      <td class="message_list_nav_button_empty">&lt;</td>
    #end if
    #if $nav.next
      <td class="message_list_nav_button"><a href='$nav.next'>&gt;</a></td>
      <td class="message_list_nav_button"><a href='$nav.last'>&gt;&gt;</a></td>
    #else
      <td class="message_list_nav_button_empty">&gt;</td>
      <td class="message_list_nav_button_empty">&gt;&gt;</td>
    #end if
  </tr>
  <tr>
    <td class="message_list_nav_infos" colspan="4">
      $nav.from ... $nav.to (total:$total)
    </td>
  </tr>
</table>
#end block menu_extra_content
