#extends prewikka.templates.ClassicLayout

#block main_content
#set global $section_cnt = 0
#set global $row_classes = ("table_row_even", "table_row_odd")
#set global $entry_value_classes = ("section_alert_entry_value_normal", "section_alert_entry_value_emphasis")

#def display_table($section, $depth)

 		#set $table_cnt = 0
		#for table in $section.tables
		
		#if $depth == 0 and $table_cnt > 0 and $table.style.find("inline") == -1
		  <br/>
		#end if

                #if $table.odd_even
		<table class="$table.class $row_classes[$table_cnt % 2]" style="$table.style">
		#else
		<table class="$table.class" style="$table.style">
		#end if

		#set $table_cnt += 1
#set $row_class=""
		 #for row in $table.rows
		  <tr class="$row_class" style="">
		   #for col in row
		    #if $col.header
		     <th>$col.name</th>
                     #set $row_class="table_row_even"
		    #elif $col.tables
		     <td>$display_table($col, $depth + 1)</td>
                     #set $row_class=""		  
                    #else
		     <td class="$col.class">$col.name</td>
		    #end if
		   #end for
		  </tr>
		 #end for
		</table>
		#end for
#end def


#def display_node($sections)
#for $section in $sections
        <fieldset class="fieldset_heading">
		#set name = "section_" + $str($section_cnt) + ".id"
		<legend><a href="#" onclick="javascript:toggleVisibility('$name'); return false;">$section.title</a></legend>

		<div id="$name" style="display: $section.display; width: 100%;">
		$display_table($section, 0)

		#if $section.entries
		<table class="section_alert_entries">
			
			#set $cnt = 0
			#for $entry in $section.entries

                             
				<tr class="section_alert_entry $row_classes[$cnt % 2]">
		                #if $entry.name				
                                 <th style="text-align: left; width:150px;">$entry.name</th>
                                #end if
				 <td class="$entry_value_classes[$entry.emphase]">$entry.value</td>
				</tr>

				#set $cnt += 1
			#end for
		</table>
		#end if

		#set global $section_cnt += 1

		#if $section.sections
		    $display_node($section.sections)
		#end if

		</div>

	</fieldset>
#end for
#end def

<div id="fieldset_page">
$display_node($sections)
</div>

#end block main_content
