#from prewikka.Views import HTMLDocumentView
#extends HTMLDocumentView

#block body
<body class='normal_body'>
	<div id='top_view'>
		<div id='top_view_header'>
			<div id="top_view_header_software">$info.software</div>
			<div id="top_view_header_place">$info.place</div>
			<div id="top_view_header_title">$info.title</div>
		</div>
		
		<div id="topmenu">
			<ul>
				#for $item in $topmenu_items
					#if $item.type == 'active'
						#set $class_ = 'topmenu_item_active'
					#else
						#set $class_ = 'topmenu_item_inactive'
					#end if
				<li class='$class_'><a href="$item.link">$item.name</a></li>
				#end for
			</ul>
			#for $item in $topmenu_special_items
				<li class='topmenu_item_special'><a href="$item.link">$item.name</a></li>
			#end for
		</div>
		
		<div id="menu">
			#for $item in $menu_items
				#if $item.type == 'active'
					#set $class_ = 'menu_item_active'
					#set $name = $item.name
				#else
					#set $class_ = 'menu_item_inactive'
					#set $name = "<a href='%s'>%s</a>" % ($item.link, $item.name)
				#end if
			<p class='$class_'>$name</li>
			#end for
		</div>
		
		<div id='main'>$main_content</div>
	</div>
</body>
#end block body
