#extends prewikka.templates.ClassicLayout

#block main_content
#def display_section(section)
<table>
  <thead>
    #if $section.name
    <tr>
      <td colspan="3">
      $section.name ($section.description)
      </td>
    </tr>
    #end if
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Value</td>
    </tr>
  </thead>
  <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0
    #for $option in $section.options
      <tr class='$row_classes[$cnt%2]'>
        <td>$option.name</td>
	<td>$option.description</td>
	<td>
	  #if not $is_instance
	    <form action='?' method='POST'>
	      #for $name, $value in $hiddens.items()
	        <input type='hidden' name='$name' value='$value'/>
	      #end for
	      <input type='hidden' name="view" value="$change_option"/>
	  #end if
	  <input type='hidden' name='paths' value='$option.path'/>
	    #if $option.boolean
	      #if $option.value
	        #set $checked = "checked"
              #else
                #set $checked = ""
	      #end if
	      <input type='checkbox' name='values' $checked/>
	    #else
	      <input type='text' name='values' value='$option.value'/>
	    #end if
	</td>
	#if not $is_instance
	  <td>
	    <input type='submit' value='change'/>
	  </td>
	</form>
	#end if
	#if $option.destroyable
          <form action='?' method='POST'>
	    #for $name, $value in $hiddens.items()
	      <input type='hidden' name='$name' value='$value'/>
	    #end for
	    <input type='hidden' name="view" value='$destroy'/>
	    <input type='hidden' name='path' value='$option.path'/>
	    <td><input type='submit' value='destroy'/></td>
	  </form>
	#end if
      </tr>
    #set $cnt += 1
  #end for
  </tbody>
</table>
<br/>



#for $sub_section in $section.sections
  $display_section($sub_section)
#end for



#for $instantiable in $section.instantiables
<table>
  <thead>
    <tr>
      <td colspan='2'>$instantiable.name</td>
    </tr>
  </thead>
  <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0
    #for $instance in $instantiable.instances
      <tr class="$row_classes[$cnt%2]">
        <td>$instance.name</td>
        <td><a href='$instance.view'>view</a></td>
        <form action='?' method='POST'>
          #for $name, $value in $hiddens.items()
            <input type='hidden' name='$name' value='$value'/>
          #end for
          <input type='hidden' name="view" value='$destroy'/>
          <input type='hidden' name='path' value='$instance.path'/>
          <td><input type='submit' value='destroy'/></td>
        </form>
      </tr>
      #set $cnt += 1
    #end for
  </tbody>
  <tfoot>
    <form action='?' method='POST'>
      #for $name, $value in $hiddens.items()
        <input type='hidden' name='$name' value='$value'/>
      #end for
      <input type='hidden' name="view" value='$create_instance'/>
      <input type='hidden' name='path' value='$instantiable.path'/>
      <tr>
        <td><input type='text'  name='name'/></td>
        <td><input type='submit' value='create'/></td>
      </tr>
    </form>
  </tfoot>
</table>
<br/>
#end for
#end def



#if $is_instance
<form action='?' method='POST'>
  #for $name, $value in $hiddens.items()
  <input type='hidden' name='$name' value='$value'/>
  #end for
  <input type='hidden' name="view" value='$change_option'/>
#end if

$display_section($section)

#if $is_instance
  <input type='submit' value='change'>
  </form>
#end if

#end block main_content
