#extends prewikka.templates.ClassicLayout

#block main_content
#if len($analyzers) > 0
  <form action="?" method="post">
  <input type="hidden" name="view" value="sensor_messages_delete" />
#end if
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>OS</td>
      <td>Node Name</td>
      <td>Node Location</td>
      <td>Node Address</td>
      <td>Last Heartbeat Time</td>
      <td>Latest status</td>
    </tr>
  </thead>
  <tbody>
  #if len($analyzers) > 0
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0
    #for $analyzer in $analyzers
      #set $row_class = $row_classes[$cnt%2]
      <tr class="$row_class">
        <td>
          <ul class="popup_block">
            <li class="popup_title"><span>$analyzer.name</span>
              <ul>
                <li><a href="$analyzer.alert_listing">Alert listing</a></li>
                <li><a href="$analyzer.heartbeat_listing">Heartbeat listing</a></li>
                <li><a href="$analyzer.heartbeat_analyze">Heartbeat analyzis</a></li>
              </ul>
            </li>
          </ul>
        </td>
        <td>$analyzer.model $analyzer.version</td>
        <td>$analyzer.ostype $analyzer.osversion</td>
        <td>$analyzer.node_name</td>
        <td>$analyzer.node_location</td>
        <td>
        #if len($analyzer.node_addresses) > 0
          #for $address in $analyzer.node_addresses
            $address<br/>
          #end for
        #else
          n/a
        #end if
        </td>
        <td>$analyzer.last_heartbeat_time</td>
        <td class='heartbeat_analyze_sensor_status_$analyzer.status'><b>$analyzer.status_meaning</b></td>
        <td><input type="checkbox" name="analyzerid" value="$analyzer.analyzerid" /></td>
      </tr>
      #set $cnt += 1
    #end for
  #else
    <tr><td class="not_available" style="text-align: center;" colspan="9">No agent available</td></tr>
  #end if
  </tbody>
</table>

<br/>

#if len($analyzers) > 0
  <div style="text-align: right; vertical-align: bottom;">
    <input type="checkbox" name="alerts" /><b>Alerts</b>
    <input type="checkbox" name="heartbeats" /><b>Heartbeats</b>
    &nbsp;<input type="submit" value="Delete" />
  </div>
#end if

</form>
#end block main_content
