#extends prewikka.templates.ClassicLayout

#block main_content

<div id="fieldset_page">

<fieldset>
 <legend>Account informations</legend>

 <table><tr>
  <th>Login:</th>
  <td>$login</td>
 </tr></table>

 <table><tr>
  <th>Permission:</th>
  <td>
  #for $perm in $permissions
  $perm 
  #end for
  </td>
 </tr></table>

</fieldset>

<br/>

#if $can_change_password
<form action="?" method="POST">
<input type="hidden" name="view" value="settings_password_change"/>

<fieldset>
 <legend>Change password</legend>
 <table><tr>
  <th>Current password:</th>
  <td><input type="password" name="current"/></td>
 </tr><tr>
  <th>New password:</th>
  <td><input type="password" name="new"/></td>
 </tr><tr>
  <th>Confirm new password:</td>
  <td><input type="password" name="confirmation"/></td>
 </tr></table>
 <input style="position: relative; float: right;" type="submit" value="Change password"/>
</fieldset>

</form>
</div>
#end if
#end block
