#extends prewikka.templates.ClassicLayout

#block head_extra_content
<script type="text/javascript">

#set $fcnt = 0
#for $chart in $charts
        var chart_${fcnt} = null;
        #set $fcnt += 1
#end for

function changeLinkUnit(unit) {
        var str = "&timeline_type=" + unit;

        if ( unit == "custom" ) {
                \$("input[type=text]").each(function() {
                        str += "&" + \$(this).attr("name") + "=" + \$(this).attr("value");
                });
        }

        \$("#topmenu").find("a").each(function() {
                \$(this).attr("href", \$(this).attr("href") + str);
        });
}


\$(document).ready(function() {
        \$("select[name=timeline_type]").change(function() {
                if ( \$("select[name=timeline_type] option:selected").attr("value") == "custom" )
                        \$("input[type=text]").each(function() { \$(this).removeAttr("disabled") });
                else
                        \$("input[type=text]").each(function() { \$(this).attr("disabled", "disabled") });
        });

        changeLinkUnit(\$("select[name=timeline_type] option:selected").attr("value"));
});

</script>

#end block


#def gen_std($chart, $map_index)
<fieldset>
<legend>$chart.title</legend>

<table width="100%">
 <tr>
  <td style="vertical-align: top;">

#filter CleanOutput
   <img style="padding-top: 2px;" src='$chart.chart.getHref()' alt="Chart"/>
  </td>
 </tr>
</table>
</fieldset>
#end filter
#end def



#block main_content
#filter CleanOutput
#set $fcnt = 0
#set $map_index = 0;

<h2>$period</h2>

#if $current_filter
<h2>Filter: $current_filter</h2>
#end if

<br/><br/>

<table style="width: 100%;">
#end filter

#for $chart in $charts
 <tr><td id="td_$fcnt">
        $gen_std($chart, $map_index)
<br/><br/>
 </td></tr>

#set $fcnt = $fcnt + 1
#set $map_index += 1
#end for

</table>
#end block




#def layout_start_hook
<form action="?" method="get">
#for $name, $value in $hidden_parameters
  <input type="hidden" name="$name" value="$value"/>
#end for
#end def


#def layout_end_hook
</form>
#end def


#block menu_extra_content
#filter CleanOutput

<table id="timeline">
  <tr>
    <th>$_("Filter:")</th>
    <td colspan="2">
     <select name="filter" class="filter_control_select">
          <option value="">&nbsp;</option>
        #for $fltr in $filters
          #if $fltr == $current_filter
            #set $selected = "selected=\"selected\""
          #else
            #set $selected = ""
          #end if
          <option value="$fltr" $selected>$fltr</option>
        #end for
     </select>
    </td>
  </tr>
  <tr>
    <th>$_("Time:")</th>
    <td colspan="2">
      <select name="timeline_type">
        <option value="hour" $timeline_hour_selected>$_("Hour")</option>
        <option value="day" $timeline_day_selected>$_("Day")</option>
        <option value="month" $timeline_month_selected>$_("Month")</option>
        <option value="custom" $timeline_custom_selected>$_("Custom")</option>
      </select>
    </td>
  </tr>
  <tr>
    <th>$_("From:")</th>
    <td colspan="2"><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if#  size="4" name="from_year" value="$from_year"/><b>/</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="from_month" value="$from_month"/><b>/</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if#  size="2" name="from_day" value="$from_day"/></td>
  </tr>
  <tr>
    <th></th>
    <td colspan="2"><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="from_hour" value="$from_hour"/><b>:</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="from_min" value="$from_min"/></td>
  </tr>
  <tr>
    <th>$_("To:")</th>
    <td colspan="2"><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="4" name="to_year" value="$to_year"/><b>/</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="to_month" value="$to_month"/><b>/</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="to_day" value="$to_day"/></td>
  </tr>
  <tr>
    <th></th>
    <td colspan="2"><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="to_hour" value="$to_hour"/><b>:</b><input type="text" #if not $timeline_custom_selected# disabled="disabled" #end if# size="2" name="to_min" value="$to_min"/></td>
  </tr>

<tr>
 <td colspan="3" style="text-align: center">

<br style="line-height: 5px;" />

<div>
 <input id="form_apply" type="submit" name="apply" value="$_("Apply")" />&nbsp;<input type="submit" name="_save" value="$_("Save")" />
</div>

</table>

#end filter
#end block
