#extends prewikka.templates.HTMLDocument

#def body_class()
#end def

#block body
<script>
    \$(document).ready(function() {
        \$("div.traceback").accordion({collapsible: true, active: false, heightStyle: "content"});

        \$(document).on('click', '[data-confirm]', function() {
            var input = \$(this);
            var confirm = input.data("confirm");

            function confirm_handler() {
                input.removeData("confirm").removeAttr('data-confirm').click();
                input.attr("data-confirm", confirm).data("confirm", confirm);
                \$('#dataConfirmModal').modal('hide');
                return false;
            }

            \$('#dataConfirmModal').find('.modal-body').text(confirm);
            // Remove the handler in case it was already set. And set the correct handler
            \$('#dataConfirmOK').off("click", confirm_handler).on("click", confirm_handler);
            \$('#dataConfirmModal').modal({show: true});
            return false;
        });
    });
</script>

#filter CleanOutput
<body class="$body_class">
    <span id="prewikka-title" class="hidden">$document.title</span>
    <div id="prewikka-dialog">
        <div class="content"></div>
        <div class="traceback" style="display:none;">
            <h3>$_("Detail")</h3>
            <div style="padding: 5px"><textarea style="width: calc(100% - 10px);" class="traceback" rows="10" readonly="readonly"></textarea></div>
        </div>
    </div>
#end filter
    <div id="dataConfirmModal" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="dataConfirmLabel">$_('Please Confirm')</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">$_('Cancel')</button>
                    <a class="btn btn-primary" aria-hidden="true" data-dismiss="modal" id="dataConfirmOK">$_('OK')</a>
                </div>
            </div>
        </div>
    </div>

    <div id="top_view">
        <nav class="navbar navbar-fixed-top navbar-primary" id="top_view_navbar">
            <div class="navbar-header">
                <div class="navbar-brand visible-xs-block">$prewikka.software</div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar_collapse" aria-expanded="false">
                    <i class=" fa fa-bars fa-2x"></i>
                </button>
           </div>

#filter CleanOutput
            <div class="collapse navbar-collapse" id="main_navbar_collapse">
            #if $prewikka.user_display
                <ul id="top_view_navbar_menu" class="nav navbar-nav navbar-primary">
                #for $name, $menu_item in $interface.menu.items()
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            #if $menu_item.icon
                                <i class="fa fa-$menu_item.icon"></i>
                            #end if
                            $_($name)
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                        #for $section in $menu_item.entries
                            #if $section.link
                            <li><a href="$section.link">
                                #if $section.icon
                                <i class="fa fa-$section.icon"></i>
                                #end if
                                $_($section.name)
                            </a></li>
                            #else
                            <li class="disabled" title="$_('This app has been disabled or failed to load.')"><a>
                                #if $section.icon
                                <i class="fa fa-$section.icon"></i>
                                #end if
                                $_($section.name)
                            </a></li>
                            #end if
                        #end for
                        #if $menu_item.default
                            <li role="separator" class="divider"></li>
                            <li><a class="widget-link" title="$_("About")" href="$prewikka.about">$_("About")</a></li>
                            #if $prewikka.logout_link
                            <li><a title="$_("Logout")" href="$prewikka.logout_link" data-confirm="$_("Are you sure you want to Logout ?")">$_("Logout")</a></li>
                            #end if
                        #end if
                        </ul>
                    </li>
                #end for
                </ul>
            #end if
#end filter
                <ul class="nav navbar-nav navbar-right" id="nav_top_view_header">
                    <li class="visible-lg-inline">
                        <div class="navbar-brand">$prewikka.software</div>
                    </li>
                    $toplayout_extra_content
                </ul>
            </div>
        </nav>
        $toplayout_content
    </div>
</body>
#end block body
