#extends prewikka.templates.NormalLayout

#block main_content
<table class="user_list_table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Login</td>
			#for $capability in $capabilities
				<td>$capability</td>
			#end for
		</tr>
	</thead>
	<tbody>
		#set $row_classes = ("table_row_even", "table_row_odd")
		#set $cnt = 0
		#for $user in $users
			<tr class="$row_classes[$cnt%2]">
				<td>$user.id</td>
				<td>$user.login</td>
				#for $capability in $user.capabilities
					#set $cap = ("", "x")[$capability]
					<td>$cap</td>
				#end for
				<td>
					<form action='?' method='POST'>
						#for $name, $value in $user.delete_form_hiddens
							<input type='hidden' name='$name' value='$value'/>
						#end for
						<input type='submit' value='delete'/>
					</form>
				</td>
				<td>
					<form action='?' method='POST'>
						#for $name, $value in $user.password_form_hiddens
							<input type='hidden' name='$name' value='$value'/>
						#end for
						<input type='submit' value='password'/>
					</form>
				</td>
				<td>
					<form action='?' method='POST'>
						#for $name, $value in $user.capabilities_form_hiddens
							<input type='hidden' name='$name' value='$value'/>
						#end for
						<input type='submit' value='capabilities'/>
					</form>
				</td>
			</tr>
			#set $cnt += 1
		#end for
	</tbody>
</table>
<br/>
<form action='?' method='POST'>
	#for $name, $value in $add_form_hiddens
		<input type='hidden' name='$name' value='$value'/>
	#end for
	<input type='submit' value='add user'/>
</form>
#end block main_content
