#extends prewikka.templates.ClassicLayout

#block main_content
<div id="fieldset_page">

<form action="?" method="POST">
<input type="hidden" name="view" value="user_settings_modify"/>
<input type="hidden" name="login" value="$user.login"/>
#if $user_management_mode
  <input type="hidden" name="user_management_mode" value="yes"/>
#end if

<fieldset id="fieldset_heading">
  <legend>Account informations</legend>

  <table>
    <tr>
      <th>Login:</th>
      <td style="text-align: center;">$user.login</td>
    </tr>
  </table>

  <table>
     <tr class="nodash">  
       <th>Permissions:</th>  
    </tr>
    <tr>
      <td>
        <table>
          #set $row_classes = ("table_row_even", "table_row_odd")
          #set $cnt = 0
          #for $perm, $value in $user.permissions
          <tr class="$row_classes[$cnt%2]">
            <td>$perm</td>
            <td>
              #if $value
                #set $checked = "checked"
              #else
                #set $checked = ""
              #end if
              #if $can_manage_user
                #set $disabled = ""
              #else
                #set $disabled = "disabled"
              #end if
              <input type="checkbox" name="$perm" $checked $disabled/>
            </td>
          </tr>
          #set $cnt += 1
        #end for
      </table>
    </td>
  </tr>
  </table>
</fieldset>
<br/>

#if $can_change_password
<fieldset>
  <legend>Change password</legend>
  <table>
    #if not $user_management_mode
    <tr>
      <th>Current password:</th>
      <td><input type="password" name="password_current"/></td>
    </tr>
    #end if
    <tr>
      <th>New password:</th>
      <td><input type="password" name="password_new"/></td>
    </tr>
    <tr>
      <th>Confirm new password:</td>
      <td><input type="password" name="password_confirmation"/></td>
    </tr>
  </table>
</fieldset>
<br/>
#end if

<input type="submit" value="submit changes"/>

</form>
</div>
#end block main_content
