#extends prewikka.templates.ClassicLayout

#def layout_start_hook
<script type="text/javascript" src="prewikka/js/jquery.js"></script>
<script type="text/javascript" src="prewikka/js/jquery.checkboxes.pack.js"></script>

<script type="text/javascript">

<!--

\$(document).ready(function() {
  \$("#allbox").click(function(){
    \$('input[@name=permissions]').check(\$(this).attr('checked'));
  });
});

//--></script>
#end def

#block main_content
#filter CleanOutput

<div id="fieldset_page" style="width: 430px;">

<form id="usersettings" action="?" method="post">
#if $user.login
<input type="hidden" name="view" value="user_settings_modify"/>
#else
<input type="hidden" name="view" value="user_settings_add"/>
#end if

<input type="hidden" name="login" value="$user.login"/>

#if $user.origin
<input type="hidden" name="origin" value="$user.origin" />
#end if

<fieldset class="fieldset_heading">
 <legend>$_("Account information")</legend>

  <table>
#if $user.login
   <tr>
    <th style="vertical-align: middle;">$_("Login:")</th>
    <td style="text-align:right; vertical-align: middle;">
     <h2 style="vertical-align: middle; padding:0px; margin:0px;"><b>$user.login</b></h2>
    </td>
   </tr>
#else

   #if $errmsg
   <tr>
	<td colspan=2><font style="color: red;">$errmsg</font></td>
   </tr>
   #end if

   <tr>
    <th>Login:</th>
    <td style="text-align: right;"><input type="text" name="login"/></td>
   </tr>
#end if

   <tr>
    <th style="vertical-align: middle;">$_("Language:")</th>
    <td style="text-align:right; vertical-align: middle;">
     <select name="language">
#for $lang, $identifier in $available_languages
#if $user.language == $identifier
    #set $selected=" selected=true"
#else
    #set $selected=""
#end if
     <option value="$identifier"$selected>$lang</option>
#end for
     </select>
    </td>
   </tr>
   

#set $row_classes = ("table_row_even", "table_row_odd")

<tr class="nodash" style="padding:0; margin:0;">
 <th class="nodash">$_("Permissions:")</th>
 <td class="nodash"></td>
</tr>

<tr style="padding:0; margin:0;">
 <td colspan=2>
 <table>

#set $cnt = 0
#set $checked_cnt = 0

#if $can_manage_user
 #set $disabled = ""
#else
 #set $disabled = "disabled=\"disabled\""
#end if

      #for $perm, $value in $user.permissions
      <tr class="$row_classes[$cnt%2]">
       <td style="text-align: left;">$perm</td>
       <td style="text-align: right;">
        #if $value
         #set $checked_cnt += 1
         #set $checked = "checked=\"checked\""
        #else
         #set $checked = ""
        #end if
        <input class="checkbox" type="checkbox" name="permissions" value="$perm" $checked $disabled />
       </td>
      </tr>
      #set $cnt += 1
      #end for
<tr class="nodash">
 <td class="nodash">&nbsp;</td>

#if $cnt == $checked_cnt
 #set $checked = "checked=\"checked\""
#else
  #set $checked = ""
#end if

 <td class="nodash"style="text-align: right;"><b>$_("Check All")</b>
  <input $checked $disabled class="checkbox" type="checkbox" id="allbox"/>
 </td>
</tr>

     </table>
</td></tr>

</table>
</fieldset>
<br/>

#if $can_change_password
<fieldset>
  <legend>$_("Change password")</legend>
  <table>
    #if $ask_current_password
    <tr>
      <th>$_("Current password:")</th>
      <td><input type="password" name="password_current"/></td>
    </tr>
    #end if
    <tr>
      <th>$_("New password:")</th>
      <td><input type="password" name="password_new"/></td>
    </tr>
    <tr>
      <th>$_("Confirm new password:")</th>
      <td><input type="password" name="password_new_confirmation"/></td>
    </tr>
  </table>
</fieldset>
<br/>
#end if

<input type="submit" value="$_("Submit Changes")"/>

</form>
</div>

#end filter
#end block main_content
