#extends prewikka.templates.ClassicLayout

#block main_content
#filter CleanOutput

<form action="?" method="post">
<input type="hidden" name="view" value="user_delete"/>

<table class="user_list_table">
  <thead>
    <tr>
      <td>$_("Login")</td>
        #set $perm_cnt = 2
        #for $perm in $permissions
	  #set $perm_cnt +=1
          <td>#echo $perm.replace("_", " ") #</td>
        #end for
      </tr>
  </thead>
  <tbody>
  #set $row_classes = ("table_row_even", "table_row_odd")
  #set $cnt = 0
  #for $user in $users
    <tr class="$row_classes[$cnt%2]">
      <td><a href="$user.settings_link">$user.login</a></td>
      #for $perm in $user.permissions
        #set $perm = ("", "x")[$perm]
        <td>$perm</td>
      #end for
      <td><input class="checkbox" type="checkbox" name="users" value="$user.login"/></td>
    </tr>
    #set $cnt += 1
  #end for

  <tr>
    <td colspan="$perm_cnt" style="text-align: right;">
     <input style="float: right;" type="submit" value="$_("Delete user")"/></form>

     <form action="?" method="get">
      <input type="hidden" name="view" value="user_add_form"/>
      <input style="float: left;" type="submit" value="$_("Create user")"/>
     </form>
    </td>
  </tr>

  </tbody>
</table>
</form>

#end filter
#end block main_content
