#def display_analyzer(analyzer)
	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Type</td>
				<td>OS</td>
				<td>Node Name</td>
				<td>Node Location</td>
				<td>Node Address</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$analyzer.name</td>
				<td>$analyzer.model $analyzer.version</td>
				<td>$analyzer.ostype $analyzer.osversion</td>
				<td>$analyzer.node_name</td>
				<td>$analyzer.node_location</td>
				<td>$analyzer.node_address</td>
			</tr>
		</tbody>
	</table>
#end def
