#def display_analyzer(analyzer)
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>OS</td>
        <td>Node Name</td>
        <td>Node Location</td>
        <td>Node Address</td>
      </tr>
    </thead>
    <tbody>
      <tr class="table_row_even">
        <td>#echo $analyzer.name or "n/a" #</td>
        <td>
          #if $analyzer.model
            $analyzer.model
            #if $analyzer.version
              $analyzer.version
            #end if
          #else
            n/a
          #end if
        </td>
        <td>
          #if $analyzer.ostype
            $analyzer.ostype
            #if $analyzer.osversion
              $analyzer.osversion
            #end if
          #else
            n/a
          #end if
        </td>
        <td>#echo $analyzer.node_name or "n/a" #</td>
        <td>#echo $analyzer.node_location or "n/a" #</td>
        <td>
          #if len($analyzer.node_addresses) > 0
            #for $address in $analyzer.node_addresses
              $address<br/>
            #end for
          #else
            n/a
          #end if
        </td>
      </tr>
    </tbody>
  </table>
#end def
