.heartbeat_analyzer_event_start,
.heartbeat_analyzer_event_normal_stop,
.heartbeat_analyzer_event_no_anomaly {
    color: green;
}

.heartbeat_analyzer_event_unexpected_restart,
.heartbeat_analyzer_event_abnormal_heartbeat_interval {
    color: rgb(255,165,0);
}

.heartbeat_analyzer_event_down {
    color: red;
}

.heartbeat_analyze {
    color: white;
    text-align: center;
}

.heartbeat_analyze_sensor_info {
    font-weight: bold;
    border-top: 10px;
}
