.message_summary_no_border {
    border: 0px;
}

.message_summary_no_border tr, .message_summary_no_border td, .message_summary_no_border th {
    border: 0px;
}

.message_summary {
    border: 1px solid black;
}

.message_summary tr {
    border: 1px solid black;
}

.message_summary th, .message_summary td {
    padding: 3px;
    border: 1px solid black;
}
