#from prewikka.modules.main.templates.utils import utils
#from prewikka.modules.main.Views import HeartbeatListingView
#extends HeartbeatListingView

#def message_listing_header()
$utils().display_analyzer($analyzer)
<br/>
#end def
