@ambiance: #f8ffc7;

@primary-background-color: #7b8216;
@primary-color: #fff;

@active-text: @ambiance - #bbb;
@active-background: @ambiance;
@inactive-text: @ambiance + #111;
@inactive-menu-background: @ambiance - #555555;
@inactive-top-background: #7b8216;
@menu-delimiter: black;

@table-header: @ambiance - #121212;
@table-row-even: @ambiance + #111;
@table-row-odd: @ambiance;
@table-background: @table-row-even;

@fieldset-background: white;
@timeline: @ambiance - #121212;

@border: @ambiance + #111;
@border-top: #d2312a;

@chart-background: @ambiance - #111;
@link: #6865a6;

@tooltip-background: #545454;
@tooltip-text: #ececec;
