#extends prewikka.templates.ClassicLayout

#block main_content
<table class='heartbeat_analyze'>
  <thead>
    <tr class='heartbeat_analyze_header'>
      <td>Name</td>
      <td>Model</td>
      <td>OS</td>
      <td>Node Name</td>
      <td>Node Location</<td>
      <td>Node Address</td>
      <td>Latest heartbeat</td>
      <td>Current status</td>
    </tr>
  </thead>
  <tbody>

  #set $row_classes = ("table_row_even", "table_row_odd")
  #set $cnt = 0 
  
  #for $analyzer in $analyzers
    <tr class='$row_classes[$cnt%2]'>
      <td>$analyzer.name</td>
      <td>$analyzer.model $analyzer.version</td>
      <td>$analyzer.ostype $analyzer.osversion</td>
      <td>$analyzer.node_name</td>
      <td>$analyzer.node_location</td>
      <td>$analyzer.node_address</td>
      <td>$analyzer.latest_time</td>
      <td class='heartbeat_analyze_sensor_status_$analyzer.latest_status_class'>
        $analyzer.latest_status
      </td>
    </tr>
    #set $cnt += 1
   </tbody>
  </table>
  
  <table class='heartbeat_analyze'>
   <thead>
    <tr class='heartbeat_analyze_header'><td class=''>Events</td></tr>
   </thead>

   <tbody>
    #set $row_classes = ("table_row_even", "table_row_odd")
    #set $cnt = 0
    #for $event in $analyzer.events
      <tr class='$row_classes[$cnt%2]'><td colspan="8">$event</td></tr>
      #set $cnt += 1
    #end for
  #end for
  </tbody>
</table>
#end block
