#extends prewikka.templates.ClassicLayout

#block main_content
#def message_listing_header
#end def
$message_listing_header

<form action="?" method="get">
#for $name, $value in $delete_form_hiddens.items()
	<input type="hidden" name="$name" value="$value"/>
#end for
<table id="message_list_result">
	<thead>
		<tr>
			$message_fields_header
		</tr>
	</thead>
	<tbody>
		#set $row_classes = ("table_row_even", "table_row_odd")
		#set $cnt = 0
		#for $message in $messages
			#set global $message = $message
			<tr class='$row_classes[$cnt%2]'>
				$message_fields
				<td class='static_content_column'><a href='$message.summary'>summary</a></td>
				<td class='static_content_column'><a href='$message.details'>details</a></td>
				<td class='static_content_column'><input type='checkbox' name='idents' value='$message.analyzerid:$message.ident'/></td>
			</tr>
			#set $cnt += 1
		#end for
	</tbody>
	<tfoot>
	#def del_filter(name)
		#if $active_filter == $name
			<a href='$remove_active_filter'>del filter</a>
		#end if
	#end def
	<td>$del_filter("classification")</td>
	<td>$del_filter("source")</td>
	<td>$del_filter("target")</td>
	<td>$del_filter("sensor")</td>
	<td></td>
	<td></td>
	<td></td>
	<td class='static_content_column'><input type='submit' value='delete'/></td>
	</tfoot>
</table>
</form>
#end block main_content

#block menu_extra_content

<table id="timeline">
 <form action="?" method="get">
  #for $name, $value in $timeline.hidden_parameters.items()
   <input type="hidden" name="$name" value="$value"/>
  #end for
  
  <tr>
   <td id="timeline_step_label">Step:</td>
   <td id="timeline_step_value">
    <input name="timeline_value" type="text" size="2" value="$timeline.value"/>
   </td>

   <td id="timeline_unit">
    <select name="timeline_unit">
     <option value="min" $timeline.min_selected>Minutes
     <option value="hour" $timeline.hour_selected>Hours
     <option value="day" $timeline.day_selected>Days
     <option value="month" $timeline.month_selected>Months
     <option value="year" $timeline.year_selected>Years
    </select>
   </td>
  </tr>

  <tr>
   <td id="timeline_limit_label">Limit: </td>
   <td>
    <input id="timeline_limit_value" type='text' size="2" name='limit' value='$limit'/>
   </td>

   <td id="timeline_submit">
    <input type="submit"  value="apply">
   </td>
  </tr>
 
 </form>

 <tr><td colspan="3" style="font-size:9px; ">$timeline.start -</td></tr>
 <tr><td colspan="3" style="font-size:9px;">$timeline.end</td></tr>

 <tr>
  <td colspan=3 style="text-align: center;">
   <a href="$timeline.prev"><b>prev</b></a>&nbsp;&nbsp;&nbsp;
   <a href="$timeline.current"><b>current</b></a>&nbsp;&nbsp;&nbsp;
   <a href="$timeline.next"><b>next</b></a>
  </td>
 </tr>

 </table>

<table id="message_list_nav">
	<tr>
		#if $nav.prev
			<td class="message_list_nav_button"><a href='$nav.first'>&lt;&lt;</a></td>
			<td class="message_list_nav_button"><a href='$nav.prev'>&lt;</a></td>
		#else
			<td class="message_list_nav_button_empty"></td>
			<td class="message_list_nav_button_empty"></td>
		#end if
		#if $nav.next
			<td class="message_list_nav_button"><a href='$nav.next'>&gt;</a></td>
			<td class="message_list_nav_button"><a href='$nav.last'>&gt;&gt;</a></td>
		#else
			<td class="message_list_nav_button_empty"></td>
			<td class="message_list_nav_button_empty"></td>
		#end if
	</tr>
	<tr>
		<td class="message_list_nav_infos" colspan="0">
			$nav.from ... $nav.to (total:$total)
		</td>
	</tr>
</table>
#end block menu_extra_content
