/*
 * global
 */
html {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: @active-text;
    background-color: @active-background;
}

a {
    color: @link;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


img {
    border: 0;
}

h1 {
    font-size: 14pt;
    font-weight: 600;
    color: darkred;
    margin-top: 0;
}

h2 {
    font-size: 12pt;
    font-weight: 600;
    color: green;
}

h3 {
    font-size: 10pt;
    font-weight: 600;
}

table {
    border-spacing: 2px 2px;
    background-color: @table-background;
    border-radius: 5px;
}

textarea, input, select {
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;  /* needed for plain inputs because Bootstrap uses
                     color: inherit without changing background-color */
}

textarea {
    overflow: auto;
}


input[type="checkbox"] {
    border: none;
    vertical-align: sub;
}

form {
    display: inline;
}

thead {
    font-weight: bold;
    background-color: @table-header;
}

fieldset {
    background: @fieldset-background;
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 5px;
}

legend {
    position: relative;
    _top: -1em;
    padding: 0.4em;
    color: @active-text;
}

p {
    margin: 0;
    padding: 0;
}

.fixed {
    font-family: Courier, monospace;
    font-size: 9pt;
}

/*
 * top menu
 */
#topmenu {
    z-index: 3;
    position: fixed;
    top: 46px;
    background: @active-background;
    width: 100%;
    .topmenu_nav {
        .topmenu_nav_container {
          background-color: @primary-background-color;
          opacity: 0.15;
          position: absolute;
          top: 0;
          left: 0;
          height: 50px;
          width: 100%;
        }
        a {
          color: #686868;
        }
        padding-top: 9px;
        font-weight: bold;
        .nav-tabs {
            border: none;
            .active a {
                background: @fieldset-background;
            }
        }
    }
}

#config-button {
  position: fixed;
  right: 5px;
  top: 56px;
  font-size: 20pt;
  z-index: 5;
}

/*
 * menu
 */

#main_menu_ng {
    position: fixed;
    top: 41px;
    z-index: 4;
    max-width: 50%;
    right: 0;
    #main_menu_navbar {
        margin-bottom: 0px;
        padding: 2px 35px 3px;
        color: @active-text;
    }

    .collapsed {
        .form-group {
            max-width: 100px;
        }

    }

    .form-group {
        max-width: 160px;
        input {
            width: 100%;
        }
    }
    .form-group-date {
        max-width: 140px;
        .disabled {
          cursor: pointer;
        }
    }
    .btn-submit {
        &.disabled {
          cursor: initial;
        }
        margin-top: 19px;
    }
    .form-control {
        width: 100%;
    }
}
.label-xs {
    margin-bottom: -2px;
    margin-top: -6px;
    font-size: 62.5%;
    margin-bottom: 0;
}

label.required:after {
  content: "*";
  color: red;
}


.popup_select_field, .popup_input_field {
    width: 150px;
    max-width: 150px;
}

/* menu message nav */
#message_list_nav {
    //height: 43px;
    //width: 198px;
    border: none;
    background-color: transparent;

    a:visited, a:link, a:hover {
        color: black;
        text-decoration: none;
        width: 100%;
        display: block;
    }

    td {
        text-align: center;
        font-size: 9pt;
        /*font-weight: bold;*/
    }
}


.message_list_nav_infos {
    background: @table-background;
    border: @border;
}

.message_list_nav_button {
    width: 50px;
    height: 15px;
    background: #E2EBF5;
    border: 1px solid @border;
}

.message_list_nav_button_empty {
    width: 50px;
    height: 15px;
    background: @active-background;
    border: 1px solid @border;
}

/*
 * main screen
 */
@media (max-width: 768px) {
  #top_view {
    #top_view_navbar {
      position: static;
      #nav_top_view_header.nav {
        position: static;
      }
      .navbar-toggle {
        padding-bottom: 3px;
      }
      .dropdown-menu {
        background-color: #fff;
      }
    }
    #topmenu {
      position: static;
      .topmenu_nav_container {
        display: none;
      }
    }
    #_main {
      position: static;
      .prewikka-view-config {
        position: static;
      }
    }
    #main_menu_ng {
      position: absolute;
      top: 55px;
      z-index: -1;
      max-width: 100%;
      .form-group {
        display: inline-block;
        margin-bottom: 0px;
        vertical-align: middle;
      }
    }
    #config-button {
      position: absolute;
    }
  }
}

#top_view {
    &.detach {
        #top_view_navbar {
            position: static;
        }
        #topmenu {
            position: static;
        }
        #main_menu_ng {
            position: absolute;
            top: -80px;
        }
    }
    &.fullscreen {
        #top_view_navbar {
            display: none;
        }
        #topmenu {
            display: none;
        }
        #main_menu_ng {
            display: none;
        }
        #_main {
            top: 0;
        }
        #_main_viewport {
            top: 0;
        }
    }

    #top_view_navbar {
        z-index: 30;
        margin-bottom: 0;
        .navbar-brand {
            padding: 7px;
            color: white;
            line-height: 36px; /* navbar height(50) - (7 * 2) = 36 */
            img {
                max-height: 40px;
            }
        }
        #top_view_navbar_menu {
          position: relative;
          z-index: 1;
        }
        #nav_top_view_header {
            right: 20px;
            position: absolute;
            z-index: 0;
            .btn {
                padding: 6px 6px;
            }
        }
        .navbar-nav > li > a {
            font-size: 13pt;
        }
    }
}

#_main_viewport {
    position: fixed;
    z-index: -1;
    top: 100px;
    bottom: 0px;
    width: 100%;
}

#_main {
    font-size: 1.2em;
    top: 100px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

#main {
    padding: 5px;
}


/*
 * random class
 */
.table_row_even, .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: @table-row-even;
}

.table_row_odd, .table-striped > tbody > tr:nth-of-type(2n) {
    background-color: @table-row-odd;
}

.impact_severity_high, .impact_completion_succeeded {
    text-decoration: none;
    font-weight: bold;
    color: #d02a2a;
}

.impact_severity_medium {
    text-decoration: none;
    color: #ff8e33;
}

.impact_severity_low, .impact_completion_failed {
    text-decoration: none;
    color: #418c3d;
}

.impact_severity_info {
    text-decoration: none;
    color: blue;
}
div.footer-buttons {
    float: right;
    margin-top: 5px;
}


/*
 * popup
 */
.popup_menu {
    a, span {
     position: relative;
      display: block;
      padding: 10px 15px;
      background-color: #FFF;
      border: 1px solid #DDD;
      color: #555;
    }
    span {
      opacity: 0.65;
    }
    a:hover {
      background-color: #f5f5f5;
      text-decoration: none;
    }

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857;
    border: 2px solid #787878;
    border-radius: 4px;
    background: @active-background;
    z-index: 1;
    display: none;
    position: absolute;
    margin: 0px;
    _width: 150px;
    text-align: left;
}

.table tbody tr td {
    line-height: 2;
}


/*
 * misc
 */

.fieldset_heading {
    background: @fieldset-background;
    border-radius: 5px;

    .description_title {
        font-size: 10pt;
        font-weight: bold;
        padding-bottom: 5px;
    }

    .description { }

    h1, h2 {
        margin: 0;
    }

    h2 {
        font-weight: normal;
        font-size: 150%;
        margin-bottom: 1em;
    }

    .date {
        color: #996;
        font-size: 130%;
        float: right;
        position: relative;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        border-bottom: 1px dashed @border;
    }

    .nodash, .nodash th, .nodash tr, .nodash td {
        border-bottom: 0px;
    }

    .nowrap label {
        white-space: nowrap;
    }

    td, th {
        border-bottom: 1px dashed @border;
        padding: 0.1em 0.5em;
    }

    th {
        color: #950;
        font-weight: normal;
        text-align: left;
    }

    hr {
        color: #999999;
        background: #999999;
        border: 0;
        height: 1px;
    }
}

#fieldset_page {
    legend {
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.shadow {
    box-shadow: 3px 3px 6px 0 #A9A9A9;
}

div.hierarchy-list i.jstree-ocl {
    display: none;
}

div.prewikka-view-help {
    display: none;
}

div.prewikka-view-config {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: @fieldset-background;
    position: fixed;
    right: 0;
    z-index: 1;

    /*
     * Mod Chosen to fit in the window
     */
    .chosen-container-multi {
        display: block;
    }

    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        height: 10px;
        width: 10px;
        right: 3px;
        top: 2pt;
        background: url(../chosen-sprite.png) -43px 0px no-repeat;

        &:hover {
            background-position: -43px -11px;
        }
    }

    .chosen-container-multi .chosen-choices li.search-choice {
        margin: 0 5px 0 0;
        padding: 0 20px 0 3px;
        line-height: normal;
    }

    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        font-size: 9pt;
        height: auto !important;
    }
}


.ajax-spinner {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    margin-top: -5em; /* half the height of the spinner */
    z-index: 1234;
}

.widget-only {
    display: none;
}


/* Overwrites jQuery UI style */
.ui-widget {
    font-size: 1em;
}

.ui-widget-content {
    color: @active-text;
    background: @active-background;

    a {
        color: @link;
    }
}

.ui-dialog {
    position: fixed;

    .container {
        width: 100%;
    }

    .widget-only {
        display: initial;
    }

    .ui-dialog-titlebar-close {
        background: none;
        border: 0;
    }
    .ui-dialog-titlebar-close {
        position: relative;
        float: right;
        height: 2.3em;
        width: 2.0em;
    }
    .ui-dialog-titlebar-close:after {
        font-size: 2.0em;
        content: "\00d7";
    }
    .ui-dialog-titlebar-close:hover {
        color: #6D6D6D;
    }
    .ui-dialog-titlebar {
        padding-right: 0;
    }
}

.ui-dialog a {
    color: @link;
}

.ui-progressbar {
    position: relative;
    box-sizing: content-box;
    .ui-progressbar-value {
        box-sizing: content-box;
    }
}

.progress-label {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    color: #333;
}

.label-checkbox {
  cursor: pointer;
}

.checkbox-label {
  display: none;
  &:checked + .label-checkbox > span {
    background-color: #5CB85C;
    &:after {
      content: "\2714";
    }
  }
  + .label-checkbox > span {
    margin-left: 5px;
    margin-bottom: 2px;
    background-color: #D9534F;
    &:empty {
      display:inherit;
    }
    &:after {
      content: "\2717";
    }
  }

}

/*
 * Prewikka renderer
 */
.renderer-elem {
    background-color: @chart-background;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.renderer-elem-error {
    text-align: center;
    vertical-align: middle;
}

/*
 * Customize Bootstrap
 */

.list-group-item {
    background: @fieldset-background;
}

body .tooltip {
  border: none;
}

.navbar-primary {
  background-color: @primary-background-color;
  border-color: darken(@primary-background-color, 5%);
  .navbar-nav {
    > li > a {
      color: @primary-color;
      &:hover,
      &:focus {
        color: darken(@primary-color, 10%);
        background-color: @primary-background-color;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @primary-color;
        background-color: darken(@primary-background-color, 5%);
      }
    }
  }
  .nav > .open > a, .nav > .open > a:focus, .nav > .open > a:hover {
    background-color: darken(@primary-background-color, 5%)
  }
}

.modal-content {
    background: @active-background;
}

/* Submenu */

.dropdown-submenu {
  position: relative;
  &>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  &:hover>.dropdown-menu {
    display:block;
    &>a:after {
      border-left-color: #ffffff;
    }
  }
  &>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  &.pull-left {
    float: none;
    &>.dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }
}

/* Panels */

.panel {
    background-color: @fieldset-background;
}

.panel-default {
    border-color: #B0B0B0;
}

.panel-theme {
    border-color: @primary-background-color;
}

.panel-theme>.panel-heading{
    background-color: @primary-background-color;
    border-color: @primary-background-color;
    color: #fff;
}

.panel-theme>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: @primary-background-color;
}

.panel-theme>.panel-heading .badge{
    color: @primary-background-color;
    background-color: #fff;
}

/* Buttons */

.button-variant (@color-variant, @background-variant, @border-variant) {
  color: @color-variant;
  background-color: @background-variant;
  border-color: @border-variant;

  &:focus,
  &.focus {
    color: @color-variant;
    background-color: darken(@background-variant, 10%);
        border-color: darken(@border-variant, 25%);
  }
  &:hover {
    color: @color-variant;
    background-color: darken(@background-variant, 10%);
        border-color: darken(@border-variant, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color-variant;
    background-color: darken(@background-variant, 10%);
        border-color: darken(@border-variant, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: @color-variant;
      background-color: darken(@background-variant, 17%);
          border-color: darken(@border-variant, 25%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background-variant;
          border-color: @border-variant;
    }
  }

  .badge {
    color: @background-variant;
    background-color: @color-variant;
  }
}

.btn-custom {
    .button-variant(@primary-color, @primary-background-color, darken(@primary-background-color, 5%));
}

.tooltip-inner {
    color: #000;
    background-color: #fff;
}
